[2020-04-22 14:01] hellt opened #5 "make --path flag mandatory"
`--path` flag should be marked mandatory to prevent full datastore retrieval if the flag is omitted (can happen if the path is considered to be an argument)

[2020-04-22 21:40] hellt opened #7 "include link to the documentation page in the version output"
Add link to the documentation site (http://gnmiclient.kmrd.dev/) in the `gnmiClient version` output

[2020-04-23 03:54] karimra opened #8 "add flag for proxy config"
- Make grpc ignore env proxies by default
- Can be activated via a bool flag

[2020-04-23 03:54] #5 closed

[2020-04-23 07:50] hellt commented on #7
fixed by #10

[2020-04-23 07:50] #7 closed

[2020-04-23 11:58] #8 closed

[2020-04-23 19:44] hellt opened #11 "timestamp in datetime format"
Proposal:

Make timestamp info more readable for CLI users by either

1. display the timestamp info both in nanoseconds and a datetime by default
2. implement a flag that will enable this behavior

[2020-04-23 19:46] hellt opened #12 "hide internal type information?"
It seems that having the internal type of the value does not benefit the user. Any reasons to keep it?

In the output below I am referring to `(*gnmi.TypedValue_JsonVal)`
[code]

[2020-04-23 20:49] hellt opened #13 "inline update with --update-value is broken"
inline update without type specified in the `--update-path` should be a valid case, yet its not

[code]

[2020-04-24 00:30] karimra commented on #13
I will change it to default to json

[2020-05-10 12:34] #13 closed

[2020-05-10 12:34] karimra commented on #12
done, it will show with --debug flag only, in a separate line

[2020-05-11 04:32] karimra opened #17 "use yaml file as input for set update and set replace"

[2020-05-11 09:18] #17 closed

[2020-05-11 11:25] #12 closed

[2020-05-12 19:10] hellt opened #21 "emit error if --insecure is not used and the system doesn't offer TLS cert"
currently when --insecure is not set and the remote system doesn't have the TLS certificate the client silently exits:

[code]

instead a meaningful error should be emitted

[2020-05-21 04:53] #11 closed

[2020-06-03 19:09] hellt opened #27 "should log message for GetRequest specify the request in its entirety?"
Currently only the path information is output to the log:

[code]

It seems valuable to display the missing elements like DataType, Encoding, etc

[2020-06-03 19:14] hellt opened #28 "implement lstrip for comma separated paths"
If a user chooses to use multiple paths by comma separating them like

[code]

the the code should strip the whitespaces after splitting by comma, otherwise the full state is retrieved

[2020-06-03 19:25] hellt opened #29 "add support for multiple ModelName"
ModelName is a repeated object in GetResponse and Subscribe. Long term plan should be to support multiple names (comma separated for instance)

[2020-06-04 19:23] hellt opened #30 "textproto output fails for Get RPC"
[code]

[2020-06-05 05:22] karimra commented on #29
#32 added for get command.
I will do subscribe soon

[2020-06-05 05:57] karimra commented on #27
something like this:
[code]

[2020-06-05 07:28] hellt commented on #27
Yes, exactly

[2020-06-05 08:25] hellt commented on #28
resolved in #33

[2020-06-10 03:24] karimra commented on #27
should be fixed by #32 as well

[2020-06-10 09:42] #30 closed

[2020-06-10 11:20] #28 closed

[2020-06-11 11:49] hellt opened #40 "consider naming the binary to gnmiclient (all small)"
it is considered to be a bad practice for a tool binary name to have characters which require <kbd>shift</kbd> press

background: https://smallstep.com/blog/the-poetics-of-cli-command-names/

[2020-06-12 02:38] karimra opened #41 "change grpc timeout default value"
- current 30s default value is a bit high, consider changing to 10s.
- change the flag type from StringP to DurationP

[2020-06-12 09:45] karimra opened #43 "add output alternatives"
Add output options like:

- [x] file
- [x] kafka
- [x] nats
- [x] stan
- [ ] influxdb
- [ ] prometheus

[2020-06-12 10:37] #41 closed

[2020-06-15 11:36] hellt opened #49 "output path search count"
related to #48

[2020-06-17 10:24] karimra commented on #43
#52

[2020-06-17 10:27] karimra opened #53 "add/expose internal metrics to prometheus"
Consider instrumenting gnmiClient using prometheus

[2020-06-19 01:02] karimra opened #54 "get cmd panic"
Get cmd panics in case there is both nil and non nil update values in the response

[2020-06-19 18:58] hellt opened #56 "address staticcheck errors"
I've introduced [staticcheck](https://staticcheck.io/docs/) in Testing pipeline; it found some issues - https://github.com/karimra/gnmiClient/runs/789172646?check_suite_focus=true

- [x] cmd/get.go:148:6: func stringInList is unused (U1000)
- [ ] cmd/root.go:82:4: grpclog.SetLogger is deprecated: use SetLoggerV2.  (SA1019)
- [x] cmd/path.go:58:28: should use make(chan string) instead (S1019)
- [x]

[2020-06-20 08:57] karimra commented on #56
The standard logger doesn't implement .Error method, so it cannot be used with grpc.SetLoggerV2.
we can move to logrus in the future

[2020-06-20 08:58] #54 closed

[2020-06-20 08:58] karimra commented on #40
as discussed: gnmic is good

[2020-06-20 18:59] hellt opened #59 "grpclog.SetLogger is deprecated: use SetLoggerV2"
This issue tracks the progress on switching to a logger facility that can satisfy the requirements set by SetLoggerV2.

The staticcheck linter will be disabled for https://github.com/karimra/gnmiClient/blob/master/cmd/root.go#L82

[2020-06-20 19:05] #56 closed

[2020-06-20 19:06] hellt commented on #56
the only unresolved issue with SetLoggerV2 was silenced and the backlog issue #59 has been created

[2020-06-20 19:07] #40 closed

[2020-06-20 19:07] hellt commented on #40
@karimra can you rename the repo to `gnmic` as well since the name is settled?

[2020-06-21 05:00] karimra commented on #53
#60

[2020-06-21 06:54] karimra commented on #40
I was thinking about doing that.
I will wait until I get some PRs out of the way.

[2020-06-23 20:02] hellt opened #62 "with a required `--path` flag it is impossible to set paths in a config file"
Recently we added a requirement condition for `path` cli flags to avoid getting entire state when this flag is missing on the CLI.

But that has a side effect of not being able to set paths in a config file:

[code]

I propose we remove the _required_ condition on the flag and instead check the value of the `paths := viper.GetStringSlice("get-path")` for emptiness

[2020-06-24 02:32] karimra commented on #62
Apparently it's a common issue in viper and pflag interactions, found a few workarounds for it.
Check #63

[2020-06-26 07:42] karimra commented on #43
closing, influxdb and prometheus will be added in separate PRs

[2020-06-26 07:42] #43 closed

[2020-06-26 07:42] #62 closed

[2020-06-26 08:58] #53 closed

[2020-06-26 20:10] hellt opened #67 "gnmic fails to receive subscribeResponse after the 1st one"
In current master the subscriptions made towards the node only print the first subscription (default stdout output)
code stops on receiving the second subscription request

[2020-06-26 23:21] karimra commented on #67
Example of subscription created?
Content of config file ?

[2020-06-27 07:08] hellt commented on #67
the issue was on my end with using the default subscription mode for the path /configure/system/name which was TARGET_DEFINED.
For this particular path it was ON_CHANGE, hence a single update

[2020-06-27 07:08] #67 closed

[2020-07-07 07:25] hellt opened #72 "default to not output logging messages to stdout"
In order to not clutter the output it might be feasible to change `--nolog` flag to `--logstdout` once #71 is done

[2020-07-07 10:10] hellt opened #73 "align configuration options between subscribe cmd flags and file-based inputs"
1. `mode` in subscription struct vs `subscription-mode` in cmd local flags
1. `stream-mode` in subscription struct vs `stream-subscription-mode` in cmd local flags

[2020-07-07 10:19] karimra commented on #73
I will change the flags in #71

[2020-07-07 13:47] hellt opened #74 "race condition happens when using ONCE subscriptions"
Sometime ONCE response is not printed out to stdout:

The output shows two consecutive runs:
[code]

If make this a regular method call iso of goroutine, I do not see the race condition:
https://github.com/karimra/gnmic/blob/collector/collector/collector.go#L185

How crucial is it to have it a goroutine here? Since the o.Write() inside of t.Export is async anyway?

[2020-07-07 22:02] hellt commented on #73
Done in https://github.com/karimra/gnmic/commit/2d02c5983846e143e4d5eec6491f3d32c9ad46fd

[2020-07-08 01:05] karimra commented on #74
I saw that behavior once ( no pun intended ) but was never able to reproduce it.
It happens when the outputs are closed before the export method finishes.

The Write inside Export is async but Export itself is not async without a go routine call, the for loop would be waiting for Export to finish to get the next msg form the response channel.

2 options:

- Remove the go routine call to Export, bu

[2020-07-08 05:37] karimra commented on #74
Ended up implementing the first one but just in case of ONCE subscription

[2020-07-08 06:43] hellt commented on #74
implemented in #71 and manually tested (2d4ff07).

[2020-07-08 06:43] #74 closed

[2020-07-08 06:43] #73 closed

[2020-07-08 09:57] hellt opened #75 "set command should stop if no replace/updates/deletes have been added to a request"
currently if the file is not present by a referenced path, the empty set request is crafted and an empty struct is printed:

[code]

[2020-07-08 14:27] hellt opened #78 "github front page information"
- [x] Add to the project description "gNMI CLI client and collector"
- [x] Add site reference to gnmic.kmrd.dev

[2020-07-09 15:52] #75 closed

[2020-07-10 11:41] hellt opened #79 "gracefully handle empty json responses"
As seen with IOS XR:

[code]

[2020-07-10 11:42] hellt opened #80 "add file description to log config"
to display the line of code where the log happenede

TBD if its needed only with debug flag or not

[2020-07-11 07:57] #72 closed

[2020-07-11 08:45] karimra opened #83 "support target for get,set and sub cmds"
As per https://github.com/openconfig/reference/blob/master/rpc/gnmi/gnmi-specification.md#2221-path-target
Add a target flag to get, set and subscribe commands to support the target field in requests

[2020-07-11 19:37] hellt opened #86 "sample interval is not set when subs are defined in a file"
subscribe interval is not set when the subs is defined in a file and not from CLI:

example of a request sent via file:
[code]

the same sub request made via CLI:
[code]

[2020-07-13 02:33] karimra commented on #86
I left it to zero to comply with this statement:
If the sample_interval is set to 0, the target MUST create the subscription and send the data with the lowest interval possible for the target
Meaning that the default for a file subscription would be zero.
Now the question becomes: do we want to align the cli flag def value or the file subscription?

[2020-07-13 08:15] hellt opened #88 "align sample-interval set in CLI and in a file to default to 0s"

[2020-07-13 08:15] hellt commented on #86
Agreed that default sample-interval should be 0. Closed in favor of #88

[2020-07-13 08:15] #86 closed

[2020-07-14 09:06] #79 closed

[2020-07-14 09:20] karimra opened #90 "named subscriptions"
Support subscribing using the cli mode with named subscriptions already defined in a config file.
e.g: gnmic subscribe --name sub1

[2020-07-14 12:02] #80 closed

[2020-07-14 12:03] #83 closed

[2020-07-15 06:25] karimra opened #91 "stderr logging with --log"
Set log flag to true in case no log-file is specified and debug is true.
Meaning --debug implies an implicit --log if there is no --log-file <filename>

[2020-07-15 07:03] #88 closed

[2020-07-15 07:38] #91 closed

[2020-07-16 12:13] karimra opened #95 "Add prometheus metrics to the different output plugins"
- [ ] file
- [ ] nats
- [ ] stan
- [ ] kafka

[2020-07-16 13:12] #78 closed

[2020-07-17 06:35] karimra opened #97 "support set cmd from file with json_ietf encoding"
Currently the set  command if provided with --update-file or --replace-file creates the set Values as JsonVal.
Using `[-e | --encoding]` it's possible to control the value type, jsonVal vs jsonIetfVal

[2020-07-22 06:21] #90 closed

[2020-07-22 06:21] #97 closed

[2020-07-22 11:06] hellt opened #99 "improve installation script"
Currently the installation script has the following limitations:

* always download the latest version
* cant be told to download a specific version

The proposal is to base the installer script either on the [Helm installer](https://raw.githubusercontent.com/helm/helm/master/scripts/get-helm-3) or leverage [godownloader](https://github.com/goreleaser/godownloader)

[2020-07-22 11:09] hellt opened #100 "add dockerfile push in the release pipeline"
The proposal is to publish a docker image with gnmic as part of the release pipeline

[2020-07-23 03:58] karimra commented on #99
The Helm installer looks good

[2020-07-27 06:24] #99 closed

[2020-07-27 15:02] #100 closed

[2020-07-29 04:57] karimra opened #106 "UDP output option"
Implement udp output option, to be used primarily with ELK

[2020-08-03 07:54] #106 closed

[2020-08-03 14:14] hellt opened #108 "consider making Prometheus server not to start by default"
an empty value passed to `prometheus-address` is a workaround, but this can be made a default value as well as treated gracefully (without logging a missing address as an error)

[2020-08-06 17:08] svautour opened #110 "openconfig per-interface filter not working"
This works:
gnmic -a 172.16.18.4:57400 -u svautour -p xxxxx --skip-verify --mode STREAM --stream-mode ON_CHANGE sub --path /state/router[router-name=Base]/interface[interface-name=*]/if-oper-status

This works:
gnmic -a 172.16.18.9:57400 -u svautour -p xxxx --skip-verify --encoding JSON_IETF --log --timeout 30s get --path "openconfig-interfaces:interfaces/interface"

This works:
gnmic -a 172.16.18

[2020-08-06 21:57] hellt commented on #110
Hi @svautour,

1. what device and SW version are you running gnmic against? Is it IOS-XR?
2. the issue might be related to the way the underlying R code of the network OS treating the JSON payload ([ref](https://stackoverflow.com/questions/55793531/why-is-there-a-lexical-error-invalid-char-in-json-text-when-json-string-is-sent)).

I have tested the same request (apart from using `--models`, since

[2020-08-07 10:38] #108 closed

[2020-08-07 13:43] karimra opened #111 "add rpm and deb files to releases"
It should be possible to use nfpm and gorelaser in gh actions to add a .rpm and a .deb files to releases

[2020-08-11 13:59] hellt commented on #111
closed via #115

[2020-08-11 13:59] #111 closed

[2020-08-14 09:44] karimra opened #116 "Add support for gnmi conn via unix socket"

[2020-08-16 15:26] #116 closed

[2020-08-18 12:35] svautour commented on #110
Hello,

Thanks for the feedback and sorry for the late reply. I was on vacation. Yes this is an IOS-XR device.

I have tried may variations including the one you suggest. This works:

gnmic -a 172.16.18.9:57400 -u svautour --skip-verify --encoding JSON_IETF --log --timeout 30s get --path "openconfig-interfaces:interfaces/interface"

This fails:

svautour@covengcore2:~$ gnmic -a 172.16.18.9:57400 -

[2020-08-23 23:41] karimra commented on #110
Hi @svautour

To add double quotes to the interface name, you can try specifying the path flag this way:
`--path openconfig-interfaces:interfaces/interface[name="Loopback0"]`
or
`--path "openconfig-interfaces:interfaces/interface[name=\"Loopback0\"]"`

To get more details about the request you can also add `--print-request` and `--format prototext` to the command.

I agree that the log message wor

[2020-08-24 18:53] svautour commented on #110
Hello,

I have tried both of these but get the same error:

svautour@covengcore2:~$ gnmic -a 172.16.18.9:57400 -u svautour --skip-verify --encoding JSON_IETF --log --timeout 30s get --path "openconfig-interfaces:interfaces/interface[name=\"Loopback0\"]"
Error: invalid argument "openconfig-interfaces:interfaces/interface[name=\"Loopback0\"]" for "--path" flag: parse error on line 1, column 48: bare

[2020-08-25 02:34] karimra commented on #110
Hi @svautour

I believe there are 2 `\` missing in the first command around "Loopback0" to escape the double-quotes.
`svautour@covengcore2:~$ gnmic -a 172.16.18.9:57400 -u svautour --skip-verify --encoding JSON_IETF --log --timeout 30s get --path "openconfig-interfaces:interfaces/interface[name=\"Loopback0\"]"`

I will try to get my hands on an IOS-XR device to give this a try as well.

[2020-08-26 11:49] svautour commented on #110
My bad. Those \ didn't come across in the post. Here's what I used:

`svautour@covengcore2:~$ gnmic -a 172.16.18.9:57400 -u svautour --skip-verify --encoding JSON_IETF --log --timeout 30s --print-request --format prototext get --path "openconfig-interfaces:interfaces/interface[name=\"Loopback0\"]"
Error: invalid argument "openconfig-interfaces:interfaces/interface[name=\"Loopback0\"]" for "--path"

[2020-08-26 15:03] pklepikov opened #118 "update-path/update-value doesn't take into account Encoding value json_ietf"
I try to gnmic client to update some values on SRLinux platform, which supports json_ietf encoding.

Here is a simple example with hostname change:
[code]
Debug message:
[code]

If i try to change hostname using another method, everything is successfully changed
Method-1:
[code]

Method-2
[code]

Complete log for all combinations
[log.txt](https://github.com/karimra/gnmic/files/5130631/log.txt)

[2020-08-27 03:49] karimra commented on #118
Hi @pklepikov

Yes, it's a little ugly but that's how it works right now.
Using `--update-path` and `--update-value` defaults to using value type `json`, this was to facilitate interacting with SROS.
if you want a specific type (`one of "json", "json_ietf", "string", "int", "uint", "bool", "decimal", "float", "bytes", "ascii"`) using `--update` or `--update-file` is the way to go.
`--update-file`

[2020-08-27 06:46] karimra commented on #110
Hi @svautour

I think I got what the issue is.

The `--path` flag is defined as StringSlice meaning both these syntaxes are accepted:
- `--path /path/1 --path /path/2`
- `--path /path/1,/path/2`

The package used to parse flags (`spf13/pflag`) relies on Go's `encoding/csv` package to parse this kind of flags.
`encoding/csv` reader has an option to allow quotes in unquoted fields called `LazyQuotes

[2020-08-31 11:57] karimra commented on #110
Hi @svautour

So seems like IOS-XR really wants a quoted interface name ( probably the same for all yang list keys ).
Added the fix in this branch #119
So no more comma separated --path
It works well on my side in the sandbox that @hellt shared (thanks!)
Are you able to try it out by building the binary on your side ? Or it's ok for you to wait till next release ?

[2020-08-31 13:06] hellt commented on #110
@svautour if you want to test it within your environment and don't want to bother building from the source, you can tell us what OS you are running (linux/mac) and I will share the binary with that fix with you

[2020-08-31 14:29] svautour commented on #110
Hello,

Excellent! Thank you so much.

I don't mind waiting for the next release. I also don't mind testing for you if you can provide a simple install process like the one I followed when I first installed it. I am running it on Ubuntu 18.04.

Thanks again,
Serge

[2020-08-31 15:03] hellt commented on #110
@svautour here you can find the binary in zip archive
[gnmic.zip](https://github.com/karimra/gnmic/files/5150993/gnmic.zip)

the path with the quoted list key can be formatted as follows:
[code]

[2020-08-31 15:11] svautour commented on #110
Looks good. Thanks!

[2020-08-31 15:23] karimra commented on #110
Thanks for testing this @svautour , I will merge the PR

[2020-08-31 15:23] #110 closed

[2020-09-02 07:04] karimra commented on #118
Hi @pklepikov ,

Another approach is embedding the type in the `--update-value` flag like this:
`gnmic set --update-path  /dummy/path/1 --update-value json_ietf:::val1`

If the value contains a `:::` the `--delimiter` flag can be used :
`gnmic set --update-path  /dummy/path/1 --update-value json_ietf@val1 --delimiter @`

Thoughts ?

[2020-09-04 07:27] hellt opened #123 "push docker images to github container registry as well"
As dockerhub now put on some restrictions on free tier accounts (images which are not pulled/pushed in 6mo will be deleted) the proposal suggests to mirror the images to the newly [launched github container registry](https://github.blog/2020-09-01-introducing-github-container-registry/) which stays free for public projects.

This can be easily done with goreleaser by adding a fqdn with registry ad

[2020-09-15 16:33] #123 closed

[2020-09-16 10:34] karimra opened #127 "Version log if debug is on"

[2020-09-17 07:51] #127 closed

[2020-09-23 10:02] karimra opened #134 "Add context.Context to output interface definition"

[2020-09-30 12:50] #134 closed

[2020-10-06 08:52] neoul opened #137 "I think this can be just a return of fmt.Errorf. no need to assign a new var"
I think this can be just a return of fmt.Errorf. no need to assign a new var

_Originally posted by @karimra in https://github.com/karimra/gnmic/pull/136#discussion_r500015865_

[2020-10-06 08:53] #137 closed

[2020-10-07 12:35] karimra opened #138 "add auto completion for flags with enum values"
when in prompt mode, add auto completion for flags with enum values like:
`--encoding [json, bytes, proto, ascii, json_ietf]`,
`--formt [protojson, prototext, json, event, proto]`
`get --type [all, config, state, operational]`
`subscribe --mode [once, stream, poll]`
`subscribe --stream-mode [on-change, sample, target-defined]`

[2020-10-07 12:36] karimra opened #139 "print error in prompt mode"
Print error if !=nil in prompt mode when --log or --debug are not set

[2020-10-07 12:38] karimra opened #140 "query/change subscription state when in prompt mode"
add commands in prompt mode to query subscription state and change it.

e.g:
`gnmic> subscription list`
`gnmic> subscription show`
`gnmic> subscription start`
`gnmic> subscription stop`

[2020-10-07 12:40] karimra opened #141 "allow directory value in prompt --file flag"
if the flag --file in prompt command points to a directory, we should recursively walk that directory and load all files with .yang extension

[2020-10-07 12:44] karimra opened #142 "add customization flags to prompt command"
add customization flags to prompt command to modify the prompt behavior.
values like: max history size, number of suggestions, BG and text colors,....

[2020-10-08 06:17] karimra opened #143 "document prompt command"
add documentation for prompt command to gnmic.kmrd.dev

[2020-10-10 07:05] karimra opened #146 "when generating paths (prompt or path cmd), store rootYang in a global var"
When generating gnmi path for auto completion, store the generated `&yang.Entry` in a global var instead of file `$HOME/.gnmi.schema`

This avoids having to write files in the local fs and cleaning them up on command postRun ( which is currently no being done )

[2020-10-10 13:10] #141 closed

[2020-10-10 13:11] #142 closed

[2020-10-10 13:11] #138 closed

[2020-10-10 13:35] karimra opened #149 "in prompt cmd, do not write the yang schema to a file, use schemaTree global var"

[2020-10-11 08:29] hellt opened #151 "implement `gnmic version upgrade`"
To upgrade to the latest available version

[2020-10-11 13:45] #149 closed

[2020-10-12 05:19] karimra opened #154 "Get first suggestion with down arrow"
Add goprompt option to be able to select the first suggestion with down arrow, currently it's TAB only.

[2020-10-12 05:19] karimra commented on #154
#153

[2020-10-12 05:23] karimra opened #155 "add global flags to suggestion list"
Should we add global flags to suggestions list in these 2 cases ?
- suggesting commands ( get, set, ...), the full list will have the commands first then the global flags
- suggesting local flags, the full list will have the local flags first then the global flags

Should this be the default behavior or enabled via a flag of prompt command ?

[2020-10-12 08:26] neoul commented on #155
@karimra I think there are a lot of the global flags. And I think that can be configured at starting prompt. So, I think that needs to be hidden for simpleness.

[2020-10-12 10:50] #154 closed

[2020-10-12 11:12] karimra commented on #155
I agree that there are too many global flags. It can be too much to show at once
I think we can find a compromise like:
- suggest commands then global flags when in root level. Because right now getting global flags in root level is kind of hidden ( needs a `-` )
- use a new prompt flag `suggest-all-flags` to enable suggesting global flags under subcommands.

I'm open to suggestions, but I think t

[2020-10-12 11:12] #146 closed

[2020-10-12 15:51] karimra opened #157 "add descriptions to enum suggestions"
Add descriptions to enum suggestions like
`--encoding`,
`--format`,
`subscribe --mode`,
`subscribe --stream-mode`,
`get --type`

[2020-10-12 19:45] hellt commented on #155
we've discussed this today and so far have converged on the following

1) as the prompt starts, the suggestions immediately appear and show top level commands AND global flags
2) once the subcommand is typed in, only local flags suggested to it

[2020-10-12 23:41] karimra commented on #155
1. is already addressed in #156

[2020-10-14 00:07] #157 closed

[2020-10-14 16:49] #49 closed

[2020-10-15 08:38] #155 closed

[2020-10-19 07:46] neoul opened #177 "CompletionOnDown() option causes a crash if history exists."
I think we need to disable  `goprompt.OptionCompletionOnDown()` option upon the start of the prompt mode.

go-prompt history uses the up/down key for its history index exploration.
When we enable `goprompt.OptionCompletionOnDown()`, it seems to cause a crash.
Because, down key is used in both the history and the completion logic of go-prompt.
It doesn't happen if `goprompt.OptionCompletionOnDown()

[2020-10-19 08:41] karimra commented on #177
Hi Neoul,

Thanks for catching this, I'm able to reproduce it as well.
Seems like a bug in go-prompt, I will open an issue there as well.

[2020-10-19 16:39] hellt opened #182 "suggestion list gets messed with Nokia modules"
Hi @karimra @neoul
when I launch the prompt mode with [Nokia modules](https://github.com/nokia/7x50_YangModels/tree/master/latest_sros_19.10) in use like this

[code]

the suggestions for paths mess up when I navigate thru them, the next element selected is not the one that I see in the suggestion box, the same is for the previous element.

This animation shows it:
![CleanShot 2020-10-19 at 18 30

[2020-10-19 19:17] hellt commented on #182
I checked if the autocompletion-on-down has any effect - it doesn't

[2020-10-19 20:19] karimra commented on #182
You mean the list is out of order?
I have seen it before, looks like the suggestion list gets reordered after every suggestion is selected

[2020-10-19 22:02] hellt commented on #182
Yes, it looks like whenever a selection is made, the next time you make it
- the list gets reordered
That leads to a situation when the item you see above or below the current
selection is not the one that will get selected on arrow up/down

On Mon, 19 Oct 2020, 22:19 Karim Radhouani, <notifications@github.com>
wrote:

[2020-10-20 07:49] #182 closed

[2020-10-21 02:31] #177 closed

[2020-10-21 03:43] karimra opened #190 "allow regex in --exclude flag"
Allow regex in --exclude flag, to exclude multiple modules in an easier way.
I'm thinking about SRL's `--exclude "*-tools*"`
Do we want/need this ?

[2020-10-21 06:06] neoul commented on #190
@karimra I think there are not many modules to be excluded in my experience. It seems to be over work.

[2020-10-21 08:02] hellt commented on #190
I think its good to have, in SRLinux case for the time being we might have >3 module names that we need to exclude
And it seems the additional work for this feature is not really substantial?

What I was thinking as well is to add a file globbing feature for `--file` flag. The use case is, for example, with Cisco XR/NX models which makes no sense to load altogether (too many different top level mo

[2020-10-21 10:16] #143 closed

[2020-10-24 07:25] hellt opened #203 "Fix link to prompt docs from readme.Md page"
It was copied from mkdocs with relative non existing path

[2020-10-24 10:04] karimra commented on #190
Globbing is different but doable.
`--exclude` takes a module name, while `--dir` and `--file` take a file name or a directory that's why this needs regex

[2020-10-24 11:59] hellt commented on #203
fixed in 2f520ae

[2020-10-24 11:59] #203 closed

[2020-11-17 18:05] LukeCage opened #216 "What does the message "TRANSIENT_FAILURE connection closed" mean?"
I am trying to subscribe to a sensor on a network device with the following command (and responses):

gnmic> --address 10.111.22.7:6702 --tls-cert client_https_rsa40965.cert.pem --tls-key client_https_rsa40965.key.pem --insecure subscribe mode stream --path /ciena-sys-tmet/logical-core-count --debug
2020/11/16 11:29:06 version=0.4.3, commit=6d3605c, date=2020-11-10T09:47:23Z, gitURL=https://github

[2020-11-17 20:35] hellt commented on #216
Hi
please remove the `--insecure` flag from the CLI command. `--insecure` means establish non-tls connection. If you want to skip certificate verification, use `--skip-verify` flag

[2020-11-18 17:25] LukeCage commented on #216
Thank you @hellt,

I took your advice and also kept my gnmic command as simple as possible.  Additionally, I used "gnmic prompt" to help me with the syntax.  ("gnmic prompt" is an extraordinarily coo feature, BTW ... ).  I am comparing  "gnmi_cli" to "gnmic" and what concerns me is the "gnmi_cli" is working and "gnmic" is not.

Please see the output of the command I issued from gnmic.  It is using

[2020-11-18 19:11] hellt commented on #216
@LukeCage
add `--skip-verify` flag

[2020-11-18 21:36] LukeCage commented on #216
Thanks @hellt ... unfortunately, no joy ...

gnmic> --address 10.111.22.7:6702 --tls-cert client_https_rsa40965.cert.pem --tls-key client_https_rsa40965.key.pem subscribe mode stream --path /al/alarm-notification --skip-verify --debug
2020/11/18 13:33:00 version=0.4.3, commit=6d3605c, date=2020-11-10T09:47:23Z, gitURL=https://github.com/karimra/gnmic, docs=https://gnmic.kmrd.dev
username: diag
pas

[2020-11-18 22:32] hellt commented on #216
You now have access denied error message from the target

received gNMI Subscribe Response: &{SubscriptionName:default
Response:error:{code:7 message:"Access Denied"}}

If you claim gnmi_cli command works, pls provide a one-to-one comparison so
we can check where  the difference might be

On Wed, 18 Nov 2020, 22:36 Luke Cage, <notifications@github.com> wrote:

[2020-11-18 22:36] LukeCage commented on #216
Sure thing, @hellt:

Below is the comparative gnmi_cli command and output:

-bash-4.2$ ./gnmi_cli -a 10.111.22.7:6702 -client_crt client_https_rsa40965.cert.pem -client_key client_https_rsa40965.key.pem -with_user_pass -dt s -qt streaming -client_types gnmi -insecure -updates_only -qt s -q /al:alarm-notification
username: diag
password:
Ciena/al:alarm-notification/alarm-text, "link alarm set"
Cien

[2020-11-19 01:32] karimra commented on #216
@LukeCage you are not using the same path in `gnmic` and `gnmi_cli` examples

`/al/alarm-notification` vs `/al:alarm-notification`

Did you get an error from gnmic using a path with `:` ?

[2020-11-19 16:11] LukeCage commented on #216
@hellt ,

Yes, I encountered what appeared to be an issue with the colon when I used it in the path with gnmic.  You had indicated in the previous discussion thread that gnmic would have an issue parsing the path with that character and recommended that I substitute it with a "/".

I did this and gnmic stopped complaining about the path. I continued using "/al:alarm-notification" with gnmi_cli bec

[2020-11-19 20:06] LukeCage commented on #216
@hellt,

**Three** more things.

**FIRSTLY ...**

When I check the logs of the gNMI server on my target (device), when I try to initiate the gNMI client session using gnmic, I get this error message:

<191>1 2020-11-19T19:30:32.262113+00:00 telemetry cn-node-tmet-tls-proxy tls-server-chil ENLOG [Ciena@1 file="tlsProxyServer.c" line="127" func="cncTlsProxySessionLogger" cnprefix="libcntls"] tlsComm

[2020-11-19 20:31] hellt commented on #216
Hey @LukeCage

On 1 & 2) gNMIc uses TLS, the exact version is negotiated between the client and the target. gnmic announces support for the whole range of TLS versions
![image](https://user-images.githubusercontent.com/5679861/99720737-73c68c00-2aae-11eb-872d-129f9c687f93.png)

We have a dev branch that will expose two new flags TLS min and max version that will allow to enforce the selection of t

[2020-11-19 20:42] LukeCage commented on #216
Interesting, @hellt!

The server on the target device is using TLS version 1.2 - see below:

F06-34-ETS-8180> show tls
+---------- TLS SERVICE PROFILES ---------+
| Name                   | Value          |
+------------------------+----------------+
| Service Profile Name   | test           |
| TLS Profile Name       | tls-profile    |
| Peer Auth Profile Name | peer-profile-1 |
| Certificate Nam

[2020-11-19 20:48] hellt commented on #216
dont worry, when we will merge the code to support `:` in the paths (this week likely) I expect the issue with TLS won't surface.

In any case, with the #217 merged we will be able to fix the TLS versions that gnmic will offer, that will ensure that we can pinpoint the right version

[2020-11-19 20:51] LukeCage commented on #216
Thanks again, @hellt.  I remain very hopeful and optimistic.

Should I leave this case open, then since a new s/w release is imminent or shall I close it and open a new one if the problem persists?

How will I know when the new s/w is ready?

[2020-11-19 21:01] hellt commented on #216
please leave it open
we will close it when you will test the next released version and confirm
that it works

On Thu, Nov 19, 2020 at 9:51 PM Luke Cage <notifications@github.com> wrote:

[2020-11-25 04:44] flyerhawk opened #221 "Installing code on Big Sur doesn't seem to do anything"
❯ curl -sL https://github.com/karimra/gnmic/raw/master/install.sh | sudo bash
Downloading https://github.com/karimra/gnmic/releases/download/v0.4.3/gnmic_0.4.3_darwin_x86_64.tar.gz
Preparing to install gnmic 0.4.3 into /usr/local/bin
gnmic installed into /usr/local/bin/gnmic
bash: line 173:  6287 Killed: 9               $GNMIC_INSTALL_DIR/$BINARY_NAME version

When I run the command I always get t

[2020-11-25 05:48] karimra commented on #221
Hi,

gnmic was not tested on Big Sur yet.
Is the system Intel-based or Apple Silicon ?

[2020-11-25 08:09] hellt commented on #221
Hi @flyerhawk
we seemed to have found the reason for this in one of the compression utilities we use to shrink gnmic size
We will have a fix for this in the next version

For now, you can clone the project and build it locally

[2020-11-25 11:10] hellt commented on #216
@LukeCage we have released gnmic 0.5.0 that has support for `:` in paths
also it introduced new global flags for TLS version set - https://gnmic.kmrd.dev/global_flags/#tls-version

download 0.5.0 and give it a spin :)

[2020-11-25 11:11] karimra commented on #221
can you give it a try with the last release? v0.5.0

[2020-11-25 12:29] flyerhawk commented on #221
That seems to have fixed the issue!  Thanks!   FTR, I am using an intel based iMac.

[2020-11-25 12:34] hellt commented on #221
thanks for reporting the issue. Glad it's been an easy fix =)

[2020-11-25 12:34] #221 closed

[2020-11-25 18:47] LukeCage commented on #216
Great news, @hellt!

I downloaded and installed the new release of gnmic (5.0) and it works with the ciena equipment I have in my lab.  I'm very happy about this!  My testing has not been exhaustive but I have streamed data through both ON_CHANGE and SAMPLE subscription modes and they are working just fine!

I have attached files that contain output of both gnmic commands I used.

Thank you, very

[2020-11-25 18:54] LukeCage commented on #216
@hellt ,

I have encountered a problem ...

After running gnmic prompt a few times, I exited and then tried to run it again.  I am now encountering the following error message:

-bash-4.2$ gnmic prompt
Error: failed getting targets config: unexpected targets format, got: <nil>
-bash-4.2$

Any ideas what the trouble could be?

[2020-11-25 19:47] hellt commented on #216
@LukeCage great to hear your main issue has been resolved

as to the targets issue: we will have a look, can be a regression

[2020-11-25 19:55] hellt opened #225 "can't invoke gnmic 0.5.0 without a config file"
@karimra we have a regression in 0.5.0 it seems:

### 0.4.3
[code]

### 0.5.0
[code]

[2020-11-25 19:56] hellt commented on #216
closing this one, the targets init issue is tracked in #225

thanks @LukeCage for your reports

[2020-11-25 19:56] #216 closed

[2020-11-25 20:28] LukeCage commented on #225
Is there a work-around so that I can get my client to work again, in the meantime, @hellt or @karimra?

Thanks.

Luke

[2020-11-26 01:05] karimra commented on #225
@LukeCage, you can create a file `~/gnmic.yaml` with `address: router_addr:port` and run gnmic without `-a | --address`
you can also use any file name/location and reference it with `gnmic --config /path/to/file` when running your cmds.

[2020-11-26 15:17] DefunctExodus opened #228 "config file - qos"
I seem to be having issues with qos being set when using a config file regardless of if the value is set to 0 or not set at all

version
[code]
here is the debug output

[code]
[code]

```target 'XXXXX', subscription component rcv error: rpc error: code = Unimplemented desc = Qos not supported```

This only happens when using a config file (tried toml,yml), when run through the CLI without a confi

[2020-11-26 17:01] karimra commented on #228
Thanks for reporting this, I see the same behavior.
It will get fixed in the next version v0.5.1 (hopefully this week)

[2020-11-26 17:50] LukeCage commented on #225
Thanks, @hellt ...

That works. Please let me know when this bug is fixed.

Luke.

[2020-11-28 09:38] hellt commented on #225
@LukeCage please try the newly released 0.5.1

[2020-11-28 09:39] hellt commented on #228
@DefunctExodus take for a spin the new 0.5.1 version. It had been fixed there
Thanks for bringing this to our attention 👍

[2020-11-30 09:02] tardoe opened #234 "[FR] Prometheus - Configurable metric options"
Firstly, thank you very much for the tool!

I've seen in other grpc exporters the ability to customise metric output with named capture groups that can be transformed into Prometheus labels. Here is one such example: https://github.com/aristanetworks/goarista/blob/master/cmd/ocprometheus/sample_configs/ocprometheus-7280.yml

This would mean Prometheus metric names wouldn't be quite so long and wie

[2020-11-30 09:16] karimra commented on #234
Hi @tardoe,

Good suggestion. We will definitely implement this in the near future.

[2020-11-30 11:57] DefunctExodus commented on #228
@hellt
Missed this notification, sorry

It works perfectly. Thanks for getting that fix in, this is an amazing app!

[2020-11-30 11:57] #228 closed

[2020-11-30 19:05] LukeCage commented on #225
Hi @helt,

So far, gnmic seems to working without the problem I sited last week but there is an inelegance in the display of "gnmic prompt" that did not exist before.  After issuing a command and pressing enter, right after providing the credentials for the account and before the data is streamed, the prompt options are displayed.

This is disruptive to the display of information that is of value/

[2020-11-30 19:57] helt commented on #225
@LukeCage I guess you mean @hellt , not @helt (thats me) :)

[2020-11-30 22:00] LukeCage commented on #225
Sorry @helt.  I beg your pardon ... Yes.  I meant to reference @hellt.

[2020-12-01 00:17] karimra commented on #225
@LukeCage can you open another issue to track this? as this is unrelated to the original issue topic.
No need to rewrite the whole thing, just reference this issue.
Thanks

[2020-12-01 07:55] #225 closed

[2020-12-01 21:00] colinmcintosh opened #236 "SIGINT / Ctrl+C sometimes doesn't stop subscribe output early"
Hi, I'm sometimes encountering an issue with _gnmic_ where `Ctrl+C` doesn't interrupt the subscribe output and _gnmic_ will continue until no more messages are buffered before the program exits; this leads to the _gnmic_ process needing to be killed in order to stop the execution early. I would expect that mashing `Ctrl+C` or sending an interrupt signal would stop the program and exit.

Wondering

[2020-12-01 21:02] LukeCage opened #237 ""gnmic promp" Display Issue"
Hi @hellt,

So far, gnmic seems to working but there is an inelegance in the display of "gnmic prompt" that did not exist before. After issuing a command and pressing enter, right after providing the credentials for the account and before the data is streamed, the prompt options are displayed.

This is disruptive to the display of information that is of value/importance and it interferes with the

[2020-12-02 03:16] karimra commented on #237
In a the latest version of gnmic, when in prompt mode, after a subscribe command is issued, the prompt is given back early to allow using other commands ( creating multiple subscriptions ).

What is happening in your case is that multiple data sources are printing to the terminal at the same time, logs, subscription output and the prompt.

You can try disabling --debug or log to a file with --log-

[2020-12-02 04:50] karimra commented on #236
Hi, I did notice the same and was not able to find a better Ctrl+C handling behavior.
If anyone has a fix or an enhancement they are more than welcome to create a PR

[2020-12-03 21:07] colinmcintosh commented on #236
I think I figured this out but a second set of eyes would be great to confirm.

From what I'm seeing the file Output sends all writes immediately to File.Write() which will block until output is written regardless of context.Context being "done". A submitted a PR that changes the behavior to limit calls to File.Write() to a ConcurrencyLimit specified in file.Config. The default limit is 1000 which

[2020-12-04 20:32] 112shaggy opened #240 "configure subscriptions using a file"
Hi!

First of all, thanks for the work done on this. I really appreciate it.

Regarding the issue I'm encountering, I'm trying to configure subscriptions over a file and I'm using your example as a base (https://github.com/karimra/gnmic/blob/master/config.json).
Unfortunately, I'm not being able to use the file because, whenever I try to use it, the help menu shows up, as you can see below.

Linux

[2020-12-04 20:52] hellt commented on #240
Hi @112shaggy!

The configuration file will not start the defined subscriptions for you, you need to command that. Meaning that in you case the command to subscribe to the defined subscription will be as simple as:

[code]

[2020-12-04 21:01] 112shaggy commented on #240
Hi hellt,

Thanks very much!

I didn't realised that we needed to add the subscribe command but it makes total sense.

Unfortunately, I got another error.
Linux:~$ gnmic --config ./test.json subscribe
**Error: failed getting targets config: unexpected targets format, got: <nil>**

What am I missing in the targets?

[2020-12-04 21:20] hellt commented on #240
If I read your pasted config correctly, you didn't specify addresses of the
network elements to which you want to initiate the gnmi connection

https://gnmic.kmrd.dev/advanced/multi_target/

On Fri, 4 Dec 2020, 22:01 112shaggy, <notifications@github.com> wrote:

[2020-12-05 11:19] karimra commented on #240
hi @112shaggy , the file is missing a comma after `"insecure: true"` and before `"targets": {...`

there is also an extra comma after `test.log}` here `"file-type": "test.log"
},`

[2020-12-07 09:06] karimra commented on #234
@tardoe, is the purpose of this feature to use some of the returned values as prometheus labels? or completely replacing the metric name with a custom name ? or both ?
From the link you shared above it looks like it's just about labels.

Currently, gnmic prometheus output will use all keys present in the path as prometheus labels.
If that is not enough, there is an open PR that introduces some opt

[2020-12-08 19:11] hellt opened #242 "support ipv6 addresses parsing"
[code]

[2020-12-08 23:05] karimra commented on #242
It should be supported with this notation: `gnmic -a [2406:c800:e000:2::2]:57400`
But what doesn't seem to work is adding the default port to an IPv6 address that doesn't include a port.

Let's either rename this or open a new issue.

[2020-12-10 05:29] karimra commented on #242
should be solved by #244

[2020-12-14 13:56] #151 closed

[2020-12-14 15:01] #242 closed

[2020-12-14 15:02] hellt commented on #236
thanks for your contribution @colinmcintosh
it's been merged and gnmic 0.6.0 will have this fix in place

[2020-12-14 15:02] #236 closed

[2020-12-14 21:48] 112shaggy commented on #240
Thanks for the help!

Like you said, I had some config typos and was missing the address of the node.
Additionally, I had "file-type" followed by the filename, not the type. I changed it and it started to work!

I'm pretty new to this so I appreciate the help.

[2020-12-14 22:35] hellt commented on #240
Great to here that it helped
I'm closing this issue then, and if anything comes along your way which you don't fully understand, you can open a discussion on this repo

[2020-12-14 22:35] #240 closed

[2020-12-14 22:37] hellt commented on #237
@LukeCage did you try prompt without debug/log options?

[2020-12-15 01:25] karimra commented on #234
@tardoe gnmic v0.6.0 was released yesterday, it adds support for mesage processors, docs here: https://gnmic.kmrd.dev/advanced/event_processors/intro/.

I believe that with a combination of `add_tag`, `to_tag` and `strings`  processors, it is possible to customize prometheus metric names and labels.

add_tag: https://gnmic.kmrd.dev/advanced/event_processors/event_add_tag/
to_tag: https://gnmic.kmr

[2020-12-15 02:49] tardoe commented on #234
That’s excellent!! I’ll definitely give this a go!

[2020-12-15 11:13] #118 closed

[2020-12-18 10:07] karimra opened #251 "allow customizing TLS ciphers suite"

[2021-01-03 17:02] hellt opened #253 "adding string search for event-convert processor?"
what if we add a basic string search for event-convert processor? Can it be that at scale, using a regexp search is less efficient for a simple task like `find octets` at the end of a string?

Maybe to do some perf comparison?

[2021-01-03 17:10] hellt opened #254 "targets or subscription groups?"
A potential bottle neck that gnmic config has is the necessity to bind subscriptions and outputs per each target.

Consider having 100 targets and 5 subscriptions, it becomes very cumbersome to maintain the list of bindings between targets, subs and outputs.

Maybe to think about target groups, which will aggregate target addresses?

[2021-01-03 17:10] #254 closed

[2021-01-03 17:11] hellt commented on #253
converted to discussion

[2021-01-03 17:11] #253 closed

[2021-01-03 17:12] hellt commented on #254
converted to #256

[2021-01-03 21:11] hellt opened #258 "when processing processors, emit error if processor type is not found in the processor cfg"
consider the following config:

[code]
It is hard to notice, that there is a typo in processor type (event-string**s**), because no error is emitted when output processes configured processors

[2021-01-04 04:47] karimra commented on #258
will be addressed in #252

[2021-01-04 07:23] hellt opened #260 "make metric prefix configurable"
Now, `gnmic`+`$subscription_name` parts are unconditionally prepended to a resulting metric which might be not what users want.
Processors can't help, since they are processed before the prefix added.

Proposal is to expose a `prefix` configuration option for prom/influx outputs which will allow to choose how prefix should look like. For example possible values:
[code]

_Originally posted by @hell

[2021-01-04 15:26] hellt opened #261 "failed to set event processor"
@karimra
with the following config
[code]

gnmic reports that it set the event processors only for stdout output and not prometheus:
[code]

[2021-01-04 15:38] hellt commented on #261
addressed in #262

[2021-01-04 15:48] #261 closed

[2021-01-04 19:32] DefunctExodus opened #263 "event-processors with kafka"
I have been playing with the event processors and It appears that it doesn't seem to work correctly for the kafka output

This works as expected
[code]

however this just seems to not work, nothing gets trimmed
[code]

I am only running a single output at a time in this scenario

[2021-01-04 19:35] hellt commented on #263
Hi @DefunctExodus
yes, sorry, it was a typo on our (darn `-` vs `_`)
it was fixed today in #262

If you want to continue your testing, you can either change the `event-processors` line in your config for kafka output to `event_processors`, or clone the master branch and build the gnmic from it and use the proper name with `-` afterwards

[2021-01-04 19:36] DefunctExodus commented on #263
Oh perfect, I will just modify that for now, Thanks!

[2021-01-04 19:36] #263 closed

[2021-01-06 01:17] karimra opened #265 "prometheus output, allow export without timestamp"

[2021-01-06 11:25] hellt opened #267 "handle incorrect time.Duration value"
if you pass `1y` value as a duration for the prometheus expiration value, the panic happens

[code]

[2021-01-06 11:34] hellt opened #268 "path is malformed when it is passed as a keyed list without trailing slash"
with added `log.Println(p)` in https://github.com/karimra/gnmic/blob/f60bcd92dca7b629d104bebe4695e41dcd002380/collector/helpers.go#L32-L33
[code]

[2021-01-06 13:16] hellt commented on #268
This is the func that trims the trailing `]`

https://github.com/karimra/gnmic/blob/f60bcd92dca7b629d104bebe4695e41dcd002380/cmd/prompt.go#L82-89

[2021-01-06 13:47] hellt commented on #234
Hi @tardoe
Did you have a chance to test it?

In the Arista example that you provided they seem to use regex capture groups to extract the keys from the subscription paths to the tags. In gnmic we do this by default, meaning that every key in the path will be promoted to the tag without any users input.

Also with the processors that Karim shared, you have more flexible approach to tags and values

[2021-01-06 13:56] #268 closed

[2021-01-07 10:51] hellt opened #272 "add processors layer to the prom output diagram and also reflect the metric-prefix/subscr-name optionality"

[2021-01-07 11:47] karimra commented on #272
will do once it's released

[2021-01-07 11:57] hellt commented on #258
yes, it know hard stops if any processor is not found, which is good

[code]

[2021-01-07 11:57] #258 closed

[2021-01-07 12:01] hellt commented on #267
confirmed
[code]

[2021-01-07 12:01] #267 closed

[2021-01-07 12:08] #237 closed

[2021-01-07 12:11] hellt commented on #260
delivered

[2021-01-07 12:11] #260 closed

[2021-01-10 11:23] #265 closed

[2021-01-12 14:58] karimra opened #279 "add a knob to enable/disable outputs metrics"

[2021-01-13 08:40] #279 closed

[2021-01-28 03:42] karimra opened #290 "add processors support on inputs"

[2021-01-29 10:38] #290 closed

[2021-01-29 23:36] ksator opened #293 "issue with gnmic set rpc with some device conf"
I am facing these 2 issues (likely same root cause):

issue 1:
[code]
[code]
[code]
fails and complain about bfd
[code]
in the device configuration, bgp is using bfd
[code]
if I remove bfd from bgp
[code]
then gnmic set for interface Ethernet 5 description works well.

issue 2:
[code]
[code]
[code]
fails with this error
[code]
This is because of this
[code]
if I remove the interface Recirc-Channel

[2021-01-29 23:46] hellt commented on #293
Hi,
If device config is the culprit then I don't see how gnmi client of any
kind can be of a problem here
This looks like a node issue to me.

I remember in slack you mentioned that another client didn't have the
issue, but I think you used it with other device config?

On Sat, 30 Jan 2021, 00:36 Khelil Sator, <notifications@github.com> wrote:

[2021-01-29 23:51] ksator commented on #293
Hello,

The device conf is correct, and its operationnal state as well is correct.
It looks like when we use a set rpc,  gnmic is checking also paths that are not part of the update/replace/delete.

In above first example, gnmic complains about bfd in bgp while I am trying to update an interface description. And in this example, bgp is working well, bfd as well, and the interface is OK.

In above

[2021-01-29 23:56] ksator commented on #293
OK, I have the same issue using another  gnmi client ...
[code]

[2021-01-29 23:59] hellt commented on #293
Yes, the config is valid, but internal gnmi code the switch runs might not
be.

As a client gnmic just sends a gnmi request, and logs show that this
request fails to be processed by the node with a certain error.

So as I mentioned before, if there is another gnmi client that on the very
same config and same node doesn't trigger the error - that would warrant a
research in what this client does di

[2021-01-30 00:03] ksator commented on #293
The 2 gnmi clients (gnmic and this [one](https://github.com/aristanetworks/goarista/tree/master/cmd/gnmi)) provides exactly the same error messages. I shared the output above. so I guess you will close the issue?

[2021-01-30 00:29] ksator commented on #293
I am closing this case as I am facing the exact same error messages using another gnmi client.
Many thanks

[2021-01-30 00:29] #293 closed

[2021-02-01 04:11] #272 closed

[2021-02-01 04:12] karimra opened #294 "add prometheus output consul service registration"

[2021-02-01 15:15] Fluepke opened #296 "Prometheus Output: strings-as-labels not working"
Setting

[code]

for a `prometheus` output does not export stringly typed metrics.

E.g.: For the interface oper status I'd expect an output like
[code]

[2021-02-02 02:20] karimra commented on #296
Hi,

Thanks for the contribution, I'm curious to see the received gnmi or event message for this case.
Does it contain a single value `UP` for `oper_state` ? Or multiple values are of type string ?

The reason I'm asking is that for this case, using a combination of [to-tag](https://gnmic.kmrd.dev/advanced/event_processors/event_to_tag/) and [strings.replace](https://gnmic.kmrd.dev/advanced/event_

[2021-02-02 14:12] Fluepke commented on #296
Hi,

apparently, up is the only value reported, as you can see in the following line from the logs:
[code]

Following your suggestion, I created the following `processor` definition

[code]

and indeed, it does work! Thanks
[code]

_But_, this will break when there's a new label, which isn't translated into a numeric value.

Hardcoding the value 1 for a time series, where you're only interested in

[2021-02-02 14:48] karimra commented on #296
Fair enough, thanks for taking the time to try the processor, I will merge the PR.

This probably prompts the needs for another processor to handle mappings in a more friendly fashion, maybe a set of well-known mappings as well as a default substitution if none of the mappings matched.

[2021-02-02 14:49] #296 closed

[2021-02-02 14:54] #294 closed

[2021-02-10 21:28] sandeepabvp opened #303 "Unable to retrieve configs from junos device"
I have used below command for junos, its working for cisco router with IOSXR

gnmic -a ip:50051 --insecure -u uname -p pwd get --path "junos-rpc-lldp:" -e json_ietf --log
it is printing everything
[
  {
    "timestamp": 1612984816,
    "time": "1969-12-31T17:00:01.612984816-07:00",
    "updates": [
      {
        "Path": "junos-rpc-lldp:",
        "values": {
          "": {
            "configur

[2021-02-11 08:40] hellt commented on #303
Hi @sandeepabvp
if you have a Juniper SE that you can forward that question that would be good. because the reason is that juniper state information is modelled with RPCs, not state leafs. This causes this error, as the state data can't be accessed by a path.

I've asked around, maybe someone from Juniper will share the way how it is supposed to be done

[2021-02-11 12:24] hellt commented on #303
check this answer
https://twitter.com/door7302/status/1359836593192861696

you should use sensors explorer to find the paths that you can subscribe (GET is not supported by Junos it seems)

example:

[code]

[2021-02-11 12:41] #303 closed

[2021-02-11 12:52] hellt opened #305 "ONCE subscriptions do not finish with exit"
Currently the ONCE subscription do not close the context, it seems, as the CLI keeps hanging, although it should've been closed upon sync_responce receival

[code]

@karimra do you remember seeing that?

[2021-02-11 19:04] amanand commented on #303
I am not sure about the semantics of gnmic, but Juniper does support GNMI GET/SET/Subscribe RPCs
Sample o/p of a gnmi get using an internal tool:

type: CONFIG
encoding: JSON_IETF

--------------------------------------------------------
notification {
  timestamp: 1613070239
  update {
    path {
      origin: "juniper"
      elem {
        name: "chassis"
      }
    }
    val {
      json_ietf_

[2021-02-11 19:51] hellt commented on #303
Hi @amanand
Thank you for taking time to comment, appreciate.
I failed to find any documentation on how to construct gNMI compatible paths, but with your example it is now clear.

The trick is to derive the origin that you guys seem to use to scope the YANG model. You have `juniper` in your example, and I don't believe there are YANG models available on Juniper github that discloses that prefix?

[2021-02-11 19:54] amanand commented on #303
Did you can try both openconfig:interfaces and juniper:interfaces?

[2021-02-11 19:57] hellt commented on #303
@amanand thank, using `juniper` origin for `interfaces` worked, whereas the former variant didn't

[code]

A pity that the origin is kind of a guess-game, but at least we see that Get is working. Thank you!

[2021-02-11 20:06] amanand commented on #303
Thats probably because you don't have openconfig schema based interface configurations. Can you try to SET something using openconfig:interfaces and then try to fetch it using GET with the path set as openconfig:interfaces?

[2021-02-11 20:11] sandeepabvp commented on #303
Thank you @hellt & @amanand
its just a word before the path and i have been struggling with it for 2 days. Its working for me on native models i will try on openconfig as well and other commands like set/sub too

[2021-02-11 20:21] hellt commented on #303
I see, the native config is not translated to OC like it does on XR. That explains.

What is not clear is where does `juniper` origin come from. It is clearly used to scope the YANG model that is being used to retrieve the data, but I failed to find such a YANG model

[2021-02-11 20:23] sandeepabvp commented on #303
Hi @hellt
can you please provide the link of the tree view which you are displaying

[2021-02-11 20:28] hellt commented on #303
@sandeepabvp https://apps.juniper.net/telemetry-explorer/explore?software=Junos%20OS&release=20.2R1&moduleId=All&tagId=100508&tagName=junos

[2021-02-11 20:33] sandeepabvp commented on #303
Thank you

[2021-02-12 01:01] karimra commented on #305
I thought I fixed it some time ago, I see the same behavior now.
I will have another look.

[2021-02-16 10:38] plajjan opened #307 "Convey error in return code"
The return code of `gnmic` does not appear to convey how things actually went, for example, using invalid credentials:
[code]

Enabling debug log, we do see that we get an auth failure.
[code]

Let the return code reflect this by returning a non-0 value.

I'm not sure if this is a generic problem or specific to auth failures.

[2021-02-16 10:45] plajjan opened #308 "Provide debian/ubuntu repository"
It would be nice if the `.deb` packages were served from an actual apt repository which we could add to debian/ubuntu instead of running `install.sh`. Apt already handles upgrades well, which breaks with this `install.sh`. Further, I do not personally enjoy running anything with `| sudo bash`. An apt repo would be better :)

[2021-02-16 11:03] hellt commented on #308
yes, I agree
the only thing that stops us from distributing `gnmic` via a package repository is that I don't know how to run one without maintenance costs.

Will ubuntu ppa do the trick?

[2021-02-16 11:08] hellt commented on #307
yes, we had a round of discussion about it with @karimra

I am in favour of reflecting the end result of the command intent in the return code, which would be non-zero in that case.
Karim, on the other had, inclined to separate application errors from the return code of the gnmic client. I.e. gNMI client succeeded in sending the request, it just happened that request response encapsulated the appl

[2021-02-16 12:11] hellt commented on #308
using ppa is a bit complicated as well

for others who might want to contribute this here is a guide on how to host ppa with git repo https://assafmo.github.io/2019/05/02/ppa-repo-hosted-on-github.html

[2021-02-17 04:59] karimra commented on #307
added for cap, get and set RPCs, subscribe is a more complicated case, hopefully not needed.

[2021-02-17 05:02] karimra commented on #308
gnmic is a single binary, no config files are installed.
Do we really need elaborate installation procedures ?

[2021-02-17 07:47] hellt commented on #308
I see the benefits of having an apt repo, if that will be an external contribution with automated release approach - why not?

[2021-02-18 12:32] hellt opened #312 "provide sudo-less instructions"
Add doc instructions on how to install gnmic without using `sudo bash`

[2021-02-23 09:41] hellt commented on #308
just for completeness, found this project - fury.io - which stores artifacts and has yum/apt repos which are unlimited for opensource packages. This removes the first pain point of creating an apt/yum repo

secondly, this github workflow creates the deb package and uploads it to this service, which removes the second pain point of making an automatic push to fury.
https://github.com/natesales/bcg/

[2021-02-23 22:03] mike-albano opened #316 "Quiet Output (print only Value)"
Firstly, great utility.

Is there a current method to print only the Value of a Get or SubscribeRequest response?

For example, print (or otherwise output) only the int (2 in this case) of the following GetRequest?
[code]
Easy enough to key into the response JSON, but sometimes handy for debugging if only the value of the "values" is printed.

[2021-02-23 22:33] hellt commented on #316
Hi @mike-albano ,
Currently it's envisioned that users will use something like jq to programmatically get the value directly.

The jq expression for the case of a single value in the response will be universal and thus can be used uniformly in every such request. Will that work for your case?

Personally I think making a flag that would print only the value is likely not worth it, as a response mi

[2021-02-23 23:44] karimra commented on #316
Hi,

Try this jq filter: ` $YOUR_GNMIC_CMD | jq '.[].updates[].values | ."$VALUE_NAME"'`
in your case: `VALUE_NAME=access-points/access-point/radios/radio/state/total-channel-utilization`
note the `''` around the jq filter

[2021-02-24 00:38] mike-albano commented on #316
@hellt true this is only useful where an xpath is supplied down to a single leaf-node; eg one Value is returned.

@karimra jq is handy, but "Get Response:\n" is also included, so the response is not strictly JSON. Perhaps this was added after [this](https://netdevops.me/2020/gnmic-gnmi-cli-client-and-collector/) was written (see "Automation friendly output").

subscribe does not print the "Get Res

[2021-02-24 00:45] karimra commented on #316
@mike-albano
"Get Response:\n" is printed to stderr, while the actual output is on stdout, maybe redirect stderr to /dev/null ?
`$YOUR_GNMIC_CMD 2>/dev/null | jq '.[].updates[].values | ."$VALUE_NAME"'`

I agree that the command is getting lengthy :)

[2021-02-24 03:15] mike-albano commented on #316
Good point on the stderr.
"I think a compromise could be printing "Get Response" only if the Request is printed as well"

Yes, I think this is a good suggestion as it allows a consumer to programmatically load the GetResponse; also aligns it with how a "SubscribeResponse" is printed.

[2021-02-24 07:13] hellt commented on #316
Hi @mike-albano,
because "Get Response" is sent to stderr by default, it won't mess with piping to `jq`, as the pipe will by default work with stdout outputs

![image](https://user-images.githubusercontent.com/5679861/108961711-07909100-7678-11eb-9494-7bc0f566b5a5.png)

Also this universal `jq` will get you the you the value without knowing a key:

[code]

[2021-02-24 09:56] karimra opened #318 "expand relative paths when configured in the file"

[2021-02-24 15:25] mike-albano commented on #316
Yep, understood. The delineation of stderr and stdout makes programatic consumption possible as well (eg consume only stdout).

PR #317 aligns the behavior b/w Get and Sub; so still seems appropriate, but up to the author. Thanks for the tips, glad to see the continual development on utilities like this.

[2021-02-28 17:24] krishprasad525 opened #324 "Support for interface names (path element key value) which include ":" or spaces"
For any gnmi query with interface having the format of  ethernet1/1:1 , gets the following error:
Error: path parse error: malformed xpath
if I'm missing any option, let me know.

[2021-03-01 11:29] karimra commented on #324
Hi, can you share the full command for which you are getting this error?

[2021-03-01 16:37] krishprasad525 commented on #324
Hi ,

It's a simple query for getting the interface parameters.Following is the
query:

gnmic -a <ip> -u <username>  -p <pass>  --tls-ca cert.pem --format jason
get --path interfaces/interface[name="ethernet 1/2:1"]

On Mon, Mar 1, 2021 at 3:30 AM Karim Radhouani <notifications@github.com>
wrote:

[2021-03-02 08:52] karimra commented on #324
@krishprasad525 can you give it a try with the latest release?
The issue was that the path parsing function looks for a `:` to determine if an origin is defined in the path.
I changed it to look for origin in the first path element only.

BTW, if your intention is to include the quotes in the interface name, use single quotes for the whole path:
`gnmic get --path 'interfaces/interface[name="ethern

[2021-03-02 17:18] mike-albano commented on #316
Yep; tested & looks good to me.
Thanks!

[2021-03-02 17:18] #316 closed

[2021-03-02 21:19] krishprasad525 commented on #324
Thank you. It's working fine with  : 'interfaces/interface[name=ethernet 1/2:1]', but --debug is not showing the detail information. Can you please take a look.

Also, can we get the same implementation in gnmic prompt:
1. To accept the interfaces like "Ethernet 1/2" (with space between Ethernet and Port)
2. To accept interface with "Ethernet 1/2:1" (with space between Ethernet and port + colun in

[2021-03-03 01:27] #318 closed

[2021-03-03 05:17] karimra commented on #324
Can you detail what you expect to see with debug enabled?

Good catch for prompt mode, the culprit is the space in this case,
the prompt args are parsed with a naive split by space, changed it to consider quotes and double quotes.

Should be fixed by #328

[2021-03-03 05:40] krishprasad525 commented on #324
Thank you for fixing the issue from prompt.
Earlier debug output displayed all the parameters from gnmic command in dict format. This is helpful to read the final values. I could identify the considered path from "get-path" key.

[2021-03-03 05:41] karimra commented on #324
ok, I see what you mean. I will put it back

[2021-03-03 18:03] krishprasad525 commented on #324
Thank you.

[2021-03-05 11:03] gl opened #333 "Kafka: Support SASL"
The code doesn't seem to support configuring access to Kafka with SASL/User/Pwd, would it be possible to add this feature ?

[2021-03-05 11:33] karimra commented on #333
yes, will look into it.

[2021-03-06 12:19] karimra commented on #333
@gl,
I added SASL PLAIN in #336 and tested it.
I also added (at least tried) SASL SCRAM and Oauth mechanisms but haven't tested them,
I'm having hard times setting up a kafka cluster with those mechanisms.

I was wondering which mechanism you were interested in?

Current PR, adds SAL to kafka output, not yet to input.

[2021-03-06 21:09] gl commented on #333
Great thanks ! I'll give it a try on Monday. I need SASL/Plain so I'm good with it.

[2021-03-11 12:19] karimra commented on #333
@gl, the PR was merged and is part of the latest release v0.9.0, appreciate if you could give it a try when you have time.

[2021-03-11 21:09] dspky35 opened #343 "config file not found"
The documentation leads me to believe that .gnmic.yaml in $PWD would be found automatically, but I am not seeing that. I have to use the config flag to have it read.

What am I doing wrong?

cl@cl:$ echo $HOME
/home/cl
cl@cl:$ pwd
/home/cl
cl@cl:$ cat .gnmic.yaml
username: admin
password: admin
skip-verify: true
cl@cl:$ gnmic capabilities -a 10.122.52.68:50051
username:
^C
received signal 'interru

[2021-03-11 22:09] hellt commented on #343
Please consider upgrading (`gnmic version upgrade`)
The change to .gnmic.yml has been added in 0.8.0+

[2021-03-11 22:55] dspky35 commented on #343
Thank you, that worked!

[2021-03-14 00:24] krishprasad525 commented on #324
Thank you for enabling the debug option with required info. It's working fine. Still I see issue with gnmi prompt in latest build  :
get --path /interfaces/interface[name=ethernet 1/1]

checked with debug option, port number not considered
"get-path": "[/interfaces/interface[name=ethernet]",

[2021-03-14 02:25] karimra commented on #324
The path contains a space, so it needs to be quoted.

[2021-03-14 02:36] krishprasad525 commented on #324
Tried with the following change, still same issue.
get --path /interfaces/interface[name="ethernet 1/1"]

from debug:
get-path": "[\"/interfaces/interface[name=\"\"ethernet\"]"

[2021-03-14 02:45] krishprasad525 commented on #324
with entire path in quotes also it's not working :
get --path '/interfaces/interface[name=ethernet 1/1]'

from debug:
 "get-path": "['/interfaces/interface[name=ethernet 1/1]']",

[2021-03-14 04:34] karimra commented on #324
That output from debug is as expected, the path is supposed to be a list.
The issue is that prompt mode doesn't consider quotes so it doesn't strip the `'` from the path,
it should be fixed in #345

[2021-03-18 14:41] #343 closed

[2021-03-18 16:29] noredistribution opened #350 "add support for gzip compression"
Would be cool to add gzip compression support in gnmic

refs: https://github.com/grpc/grpc-go/blob/master/Documentation/compression.md
https://grpc.github.io/grpc/core/md_doc_compression.html

[2021-03-18 16:57] karimra commented on #350
ok, I will give it a try, looks doable

[2021-03-22 14:19] #350 closed

[2021-03-30 09:00] thenodon opened #357 "Target specific Prometheus labels"
Thanks for a great tool. My question if its possible to access the gnmic Prometheus metrics endpoint with a  gnmic target specified. This is the same structure as the snmp_exporter and blackbox exporter, something like:
[code]
The reason for this is the need to add additional labels in Promethues to a specific target like role, geopos etc.
An alternative would be if it was possible in the gnmic ta

[2021-03-30 10:07] karimra commented on #357
Hi,

I'm afraid that the answer to your first question is that it's not possible right now, that would require adding a custom handler for a new endpoint (`/gnmic` ?) the same way `snmp_exporter` adds `/snmp` to bind a custom handler.
But it's not a bad idea, I can look into it.

For the second question:

`gnmic` adds 2 labels to all prometheus metrics,
- `source` which is essentially `target` (mi

[2021-03-30 11:04] thenodon commented on #357
Thanks for your reply and feedback. I will try your suggestions, and I agree it looks like it can work for my use case. The only thing that I did not fully understand was "The current regex matching does not consider both tag names and tag values at the same time".

[2021-03-30 11:14] karimra commented on #357
Let's consider the below processor:
[code]

This matches both:
[code]

and

[code]

While you would want it to match only the first message.

So using the regex matching, it's not possible to specify a condition that takes into account both tag names and tag values at the same time.

[2021-03-30 11:20] thenodon commented on #357
Thanks @karimra now I get it. And thanks for the time to explain.

[2021-04-07 12:52] daniel-gonzalez-sanchez opened #358 "gNMI Capabilities RPC does not display output in gNMIc v0.9.1"
Hi everyone,

I was playing around with RPC operations in the latest version of the gNMIc client (`v0.9.1`) with an Arista cEOS router configured with the gNMI management API, when I discovered a problem with the `Capabilities request`. It seems that this operation does not display any output information. In the previous version of gNMIc (`v0.9.0`) this problem did not occur.

Many thanks in advan

[2021-04-07 17:18] hellt opened #359 "prevent usage of --skip-verify and --insecure in the same command"
I often see people try to use `--insecure` and `--skip-verify` flags together.
Since these flags are mutually exclusive I think it makes sense to prevent gnmic from running an RPC when both flags are present

[2021-04-08 05:37] karimra opened #361 "allow passing a number to --encoding flag"

[2021-04-08 06:00] karimra commented on #358
Hi,

Thanks for reporting this.
It should be solved in v0.10.0, can you please give it a try?

Thanks

[2021-04-08 07:12] daniel-gonzalez-sanchez commented on #358
Thank you very much for the quick answer and for the solution. I'll check it again when the next release comes out.

[2021-04-08 07:17] karimra commented on #358
v0.10.0 is just out, you can upgrade with`gnmic version upgrade` or `bash -c "$(curl -sL https://get-gnmic.kmrd.dev)"`

[2021-04-08 07:39] karimra commented on #357
@thenodon

with the latest release (v0.10.0), you can use the condition statement to apply the processor, the condition is evaluated as a jq expression (https://stedolan.github.io/jq/)
[code]

[2021-04-08 08:47] daniel-gonzalez-sanchez commented on #358
I have just checked with the `v0.10.0` version and the Capabilities request is working fine. Many thanks!

[2021-04-08 15:42] #358 closed

[2021-04-08 17:35] karimra opened #364 "add an accept/allow processor"

[2021-04-08 18:03] thenodon commented on #357
Sweet. Will try it. Great work. Will upgrade to 0.10.0 next week

[2021-04-10 06:20] #364 closed

[2021-04-13 20:00] jbemmel opened #369 "Allow stdin to be passed as update value"
gnmic currently expects a filename for --update-file, and it can only be .json or .yaml

One can work around this using a temporary file:
[code]

but ideally, this would work too:
echo "<some JSON/YAML heredoc>" | gnmic -a 172.20.20.2:57400 -u admin -p admin --skip-verify -e json_ietf set  --update-path /interface[name=ethernet-1/1] --update-file -

Perhaps --update-stdin=json or --update-stdin=ya

[2021-04-15 08:50] karimra commented on #369
#370 adds the following:
- support for files without an extension, gnmic will "guess" the type of file if there is no extension.
- heredoc value for flags `--update-file` and `--replace-file`
- inline json raw string as value in flags `--update`, `--replace`, `update-value` and `--replace-value`.

Meaning all of the below commands should work (example for set update only, same commands are valid w

[2021-04-15 15:15] polarbroadband opened #371 "Docker version Works perfectly fine, but Go build from master branch only works on No TLS"
the certificate verification seems good (tried both skip verification and provide CA certification), but dial state stuck in transient failure, reporting error "connection closed".

The docker version is good though with the same config.

[2021-04-15 21:40] karimra commented on #371
This could be related to the go version you are using to build your binary.

Go dropped [NPN](https://tools.ietf.org/id/draft-agl-tls-nextprotoneg-03.html) support in 1.14, rightfully so. [ALPN](https://tools.ietf.org/html/rfc7301) should be used.

Some routers TLS implementations still use NPN, that's why gnmic is still built with go1.13

[2021-04-16 14:25] polarbroadband commented on #371
You are absolutely right, I changed the building environment to go 1.13 and it fixed.

I did notice the difference from tcpdump, but should use the wireshark to check the details.

This makes GNMIC a viable tool to communicate with these "old" routers and push the results to its subscribers which are built in latest Go version.

Great thanks!

[2021-04-16 14:25] #371 closed

[2021-04-16 20:24] #369 closed

[2021-04-19 09:10] pmeffre opened #375 "path /lldp/... output on Prometheus different that the subscribe return."
Hello,
I have Juniper Infrastructure and I am experiences some problems that I do not  understand.
When I subscribe the path "/network-instances/network-instance/protocols/protocol/evpn/peer", all works fine and i get my result in Prometheus.
When I subscribe the path "/lldp/interfaces/interface/neighbors/neighbor/state", the result in Prometheus is very partial: only few counters are available. (

[2021-04-19 09:21] karimra commented on #375
Hi,

Prometheus supports numerical values only ( converted to floats ), all other values are dropped.

If you want the string values (like `state/port-id`) to show up as labels of your prometheus metric, you have to set `strings-as-labels` to `true` under your prom output:

[code]

[2021-04-19 09:27] pmeffre commented on #375
Thanks a lot

It works like a charm ....

Pierre

[2021-04-19 09:27] #375 closed

[2021-04-20 16:26] Jackeyxie opened #377 "path can't work with spaces --path "cli:/show version""
[code]
[code]

not work in version  0.12.0

[code]
[code]

[2021-04-21 05:22] karimra commented on #377
working on a fix, will release soon.

[2021-04-21 09:48] karimra commented on #377
@Jackeyxie can you give it a try with v0.12.1?
Thanks.

[2021-04-21 10:16] Jackeyxie commented on #377
@karimra  Thanks very much, It's work now.

[2021-04-21 10:20] #377 closed

[2021-04-23 20:05] arikmoshe opened #380 "file-type: stdout doesn't create a file"
file-type should be ommited to make it work.
we should fix the guide:

https://gnmic.kmrd.dev/user_guide/outputs/file_output/

this is in the guide:
    file-type: stdout # or stderr
it should be
    file-type:  #stdout or stderr

[2021-04-24 08:00] karimra commented on #380
Do you mean that in order to write to the file configured under `filename`, `file-type` should be omitted ?

[2021-04-26 05:25] karimra commented on #359
done in #360

[2021-04-26 05:25] #359 closed

[2021-04-26 16:06] arikmoshe commented on #380
yes,
maybe we can just fix the documentation:

https://gnmic.kmrd.dev/user_guide/outputs/file_output/

[2021-04-28 06:41] slieberth opened #383 "gnmic -h does not show --path as potential parameter"
Hello Karim,
thanks for providing gnmic,
minor help issue - I do  not see the --path attribute, when calling gnmic -h ...
greetings from Berlin
Stefan

$ gnmic version
version : 0.12.2
 commit : f68027f
   date : 2021-04-24T04:17:06Z
 gitURL : https://github.com/karimra/gnmic
   docs : https://gnmic.kmrd.dev

$ gnmic -h
run gnmi rpcs from the terminal (https://gnmic.kmrd.dev)

Usage:
  gnmic [comm

[2021-04-28 07:13] karimra commented on #383
Hi Stefan,

`--path` is a local flag to `get` and `subscribe` commands.
You can see it with `gnmic get -h` or `gnmic subscribe -h`

The `gnmic -h` shows the commands and the global flags

[2021-04-28 07:26] slieberth commented on #383
OK, I see it, sorry, thanks for clarifcation ...

[2021-04-28 07:26] #383 closed

[2021-04-28 07:35] karimra commented on #383
no problem, anytime

[2021-05-04 10:54] karimra commented on #380
I forgot to mention it here, but updated the doc page.
Please have a look.

[2021-05-28 20:08] dshah2012 opened #389 "Target key does not show under "prefix" and every new message contains update key in Protojson Format"
Hello,

Output data from gnmic in the protojson format, I see that there is no "target" key present under the prefix section.
Earlier gnmi collector had this "target" key in "prefix" section in the protojson format.

Could you let me know if there is any settings to add these "target" key.
Also the messages in the protojson contains an update key at the beginning before timestamp which was not the

[2021-05-29 12:30] ksator opened #390 "TS override processor doesnt update the TS"
Hello

The `event-override-ts` processor doesnt update the TS received in the gNMI notifications
I tested with both version 0.6 and 0.14
[code]
[code]
TS override configuration:
[code]
ON_CHANGE mode and heartbeat-interval
[code]
TS is not updated
[code]
[code]
Same issue with SAMPLE mode and sample-interval
[code]
debug
[code]
[code]
[code]

[2021-05-29 12:33] ksator commented on #390
Am I doing something wrong? Or is it an issue with this processor?

[2021-05-29 15:38] ksator commented on #390
I am facing the same issue testing with another gnmic file
[code]
[code]
[code]
[code]

[2021-05-29 16:08] karimra commented on #390
Hi @ksator ,

yes seems the processor is broken, will push a PR in a few minutes to fix it.

Please keep in mind that processors only apply when the format is `event`, so you will need to add a `format: event` under the output config or use the flag `--format event`

[2021-05-29 16:15] karimra commented on #389
Hi,

Can you share the commands used to generate these outputs ?

"...the earlier gnmi collector that we were using": Are you referring to an earlier version of gnmic? or another collector ?
If it's gnmic, can you share the version and the command used ?

From: https://github.com/openconfig/reference/blob/master/rpc/gnmi/gnmi-specification.md#2221-path-target

The target field within a path is nam

[2021-05-29 16:19] karimra commented on #390
If you need to override the timestamp for other formats, I can add a knob under the output config to do it.
Something like: `override-timestamp: true`

[2021-05-29 16:41] dshah2012 commented on #389
Thanks for the response. Earlier we were using this thehttps://github.com/cisco-ie/pipeline-gnmi collector.
For gnmic
We are using the configuration file.

For Example we have this kind of gnmic configuration file.

[code]

So where should i include the target to be visible in the the response?

[2021-05-29 16:54] karimra commented on #389
Thanks for the details:
You can try adding a target field under `subscriptions`

[code]

[2021-05-29 17:07] dshah2012 commented on #389
Thank you @karimra  for the response it works now i can see the target field in the prefix section.
Just wanted to know if we can remove the update key that comes before the timestamp section.
If not, i can do it in my code where the message is received. Just wanted to know if there is any keyword  for that?

[2021-05-29 17:15] ksator commented on #305
Hello,

I am NOT facing this issue with gnmic version 14 and vEOS 4.24.0F

[code]

[code]

[2021-05-29 17:16] karimra commented on #389
Glad it worked.
As for removing the update json key, I'm afraid there is no easy way to do that with configuration.
If you don't mind changing the format to `event`, there are a lot of processors you could use to transform the response:
https://gnmic.kmrd.dev/user_guide/event_processors/intro/

[2021-05-29 17:21] dshah2012 commented on #389
Thanks Again. Yes I had looked at that event structure earlier, but since there is a time constraint in for our current project. I will go ahead and change in my code, I can just get the value of the update key and it will be same as our old format. But surely will give it a try and do some experiment using the event structure.

Closing this issue.

[2021-05-29 17:21] #389 closed

[2021-05-29 17:21] karimra commented on #305
yes, it was fixed but the issue not closed :)

[2021-05-29 17:26] #305 closed

[2021-05-29 17:27] karimra commented on #333
closing due to no response, feel free to reopen if the PR did not meet your request.

[2021-05-29 17:27] #333 closed

[2021-05-29 17:27] karimra commented on #380
closing due to no response, feel free to reopen if the PR did not meet your request.

[2021-05-29 17:27] #380 closed

[2021-05-29 17:28] karimra commented on #324
closing due to no response, feel free to reopen if the PR did not meet your request.

[2021-05-29 17:28] #324 closed

[2021-05-29 17:44] ksator commented on #390
Hello @karimra thank you so much.
Is there an easy way to install gnmic from the last commit?

[2021-05-29 17:55] karimra commented on #390
Here is a linux binary from the last commit, would be nice if you could try it with format `event`
[gnmic.zip](https://github.com/karimra/gnmic/files/6565137/gnmic.zip)

[2021-05-29 18:30] ksator commented on #390
weird .... the TS is still not updated
[code]
[code]
[code]
[code]
[code]

[2021-05-29 18:55] ksator commented on #390
debug output
[code]
[code]
[code]

[2021-05-29 19:32] karimra commented on #390
As discussed offline, processors names are case insensitive and are referenced internally with lower case letters.
This is due to how viper handles map keys (https://github.com/spf13/viper/issues/373)

I will add a note in the docs and try to find a workaround.
Thanks for your help and patience!

[2021-05-29 19:35] ksator commented on #390
Thank you so much for your help!
Very much appreciated!

[2021-05-31 22:11] dshah2012 opened #393 "Issue: Every interval different interface telemetry is being retrieved from the Device"
Hello @karimra ,

We are facing an issue in our team, we have a configuration file like this.

[code]

The problem is that after every 200s different interface information is being retrieved not the same interface.
For example:
During first time it would retrieve from interface like 1/6/6/45 (dummy name) and others. But after 200s it is retrieving other interface telemetry data which is not same a

[2021-06-01 01:09] karimra commented on #393
Hi,

In the gNMI protocol, unlike SNMP, the device pushes data to the collector.
So `gnmic` is not retrieving data from the device, the device is pushing the updates to `gnmic`

The client (`gnmic`) subscribes by describing the set of data it is interested on ( i.e the subscription ), then it is up to the device to send the requested data correctly.
It is also up to the device to send the data at

[2021-06-01 02:20] dshah2012 commented on #393
Sorry my mistake. Thanks for the clarification @karimra.
We are running gnmic  as  a docker container. Sure you need the logs for gnmic right?

[2021-06-01 02:28] karimra commented on #393
yes, you can save the logs to a file by adding the flag `--log-file /path/to/log/file` or by adding the following in `gnmic` config file `log-file:  /path/to/log/file`

[2021-06-01 02:49] dshah2012 commented on #393
Thanks @karimra. Actually I can could have the kubectl logs but the problem is that it contains some proprietary company information. So it would be difficult to share . Just wanted to know what should I be checking in the logs, i see following logs
1. Adding the targets
2. Queueing
3. Subscribing to the target
4. Starting the listener.

Is there any specific that I should be looking at ?

[2021-06-01 02:51] karimra commented on #393
3. Subscribing to the target, check if the subscribe request matches the subscription config.
You could also log into the router and check if the subscription is properly created.

[2021-06-01 02:57] dshah2012 commented on #393
{prefix:{target:"dummy_name"} subscription:{path:{elem:{name:"Cisco-IOS-XR-pfi-im-cmd-oper:interfaces"} elem:{name:"interface-xr"} elem:{name:"interface"}} mode:SAMPLE sample_interval:300000000000} encoding:PROTO}', mode='STREAM', encoding='PROTO', to dummy_target_name

This is the subscribe_request that i have for the above configuration file.

[2021-06-01 03:06] karimra commented on #393
It looks ok, except that I guess you changed the sample-interval to 300s ?

[2021-06-01 03:14] dshah2012 commented on #393
Yes just that.

[2021-06-01 03:25] karimra commented on #393
Well, that's something to take to the device vendor.
You could try another collector, to validate that the device behaves the same

[2021-06-01 03:31] dshah2012 commented on #393
Ya. No problem. The earlier collectors works that we were using is working fine. Just wanted to try out different collectors and check if the performance can be improved.
Anyways thanks for your time and help.
If i want to reach you directly rather than creating issue, could I reach you by email if you are okay with it.

[2021-06-01 06:18] karimra commented on #393
sure, but it will be the same as opening an issue, not "premium" support or anything like that :)

[2021-06-01 15:16] dshah2012 commented on #393
@karimra  Thanks. Got it. Just one more question i am using kafka for the output. The problem is that after sometime it stops sending message messages to kafka. Not sure if its the collector or it is not getting information that is sent by the device.
I get this after some time.

[code]

[2021-06-02 13:52] dshah2012 commented on #393
Closing the issue

[2021-06-02 13:52] #393 closed

[2021-06-02 23:11] dshah2012 opened #396 "Issue: Gnmic Collector connects and disconnects"
Hello @karimra ,

The gnmic collectors fine. But i see that intermittent issue where it disconnects and connects back to the kafka. Not sure if this is the desired behaviour of the collector. Plus while this process is ongoing if there is any new message to sent by the device to the collector does it get lost.
This is happening when subscribing to cisco device, our path is "Cisco-IOS-XR-pfi-im-cmd

[2021-06-02 23:34] karimra commented on #396
Hi,

It's hard to tell what is happening from a short log snippet.
Can you enable debug and prometheus metrics under the Kafka output ?

[code]
The debug should enable printing kafka write errors if any,

You can curl (`curl http://<addr:port>/metrics`) the prometheus address to check if the number of `number_of_kafka_msgs_sent_fail_total` and `number_of_kafka_msgs_sent_success_total` is increasin

[2021-06-03 00:52] dshah2012 commented on #396
Thanks @karimra yes i had a debug option globally. I see that there is no kafka error. I went through the code on this file (https://github.com/karimra/gnmic/blob/master/outputs/kafka_output/kafka_output.go) and check the message on the terminal where the logs are present there is no error.
So the prometheus-address would be the prometheus server that is already running in our environment or it is

[2021-06-03 01:01] karimra commented on #396
The global debug option won't enable the outputs debug, it has to be enabled for each output.

Prometheus works by pulling metrics from a target that exposes an http server, so the prometheus-address is a server address that will be started by gnmic.
You can configure the prometheus server you have running to scrape the metrics exposed by gnmic.

Nokia routers don't support `target`

[2021-06-03 01:05] dshah2012 commented on #396
Okay thanks for the clarification. So it can prometheus server address and port can be anything right?

[2021-06-03 01:07] karimra commented on #396
yes, as long as there are no firewall rules blocking that address/port

[2021-06-03 01:09] dshah2012 commented on #396
OKay let me try and will let you know how it goes.

[2021-06-03 01:22] dshah2012 commented on #396
Actually I am using the docker image and running it in kubernetes environment. So i guess the port also should be exposed.

[2021-06-03 04:53] dshah2012 commented on #396
@karimra Just one more doubt, I see this error in collector sometimes in between, not always when we have subscription for the cisco device for the interface.
Is it the device that is closing the connection due to the transfer of large interface payloads after running for sometime or is it the collector that is having an issue ?
This error occurs like in 20 minutes interval it disconnects and conn

[2021-06-03 05:23] karimra commented on #396
No shell available in the docker image.
Closing the transport can be done by either the client or the server, without more information this is just a guessing game.

[2021-06-03 13:06] dshah2012 commented on #396
@karimra  In the logs i can see only that much related to this error.This is the error block that I see in the logs after the last line  of the error collector again starts receiving message  I am not sure where i look for additional information.

[code]

[2021-06-03 13:56] karimra commented on #396
have a look at this: https://github.com/grpc/grpc-go/blob/master/README.md#the-rpc-failed-with-error-code--unavailable-desc--transport-is-closing

[2021-06-03 14:08] dshah2012 commented on #396
I think it may be an issue on the Cisco device side, for nokia the collector works fine.

[2021-06-03 17:31] dshah2012 commented on #396
Closing this ticket as this might be Vendor specific.

[2021-06-03 17:31] #396 closed

[2021-06-03 18:41] dshah2012 opened #397 "Maximum amount of subscription defined for the collector"
Hello @karimra

I have few questions regarding the subscription. I did not find any documentation for this on the website so wanted to ask here.
1. What is the maximum amount of subscription that i can mention in each target under subscriptions ?
[code]
2. How many maximum individual subscription can be defined under subscriptions block.  ?
[code]
3. Ideally how paths should be defined in a subscr

[2021-06-04 01:51] karimra commented on #397
Hi,

1. no limit
2. no limit
3. this depends on what your target supports, better check with the vendor, for the specific router limits

[2021-06-04 12:56] dshah2012 commented on #397
Thanks @karimra  for the response.

[2021-06-04 12:56] #397 closed

[2021-06-04 13:08] dshah2012 opened #398 "Target field in prefix section for protojson format for Nokia router"
Hello @karimra ,

As we discussed in this issue https://github.com/karimra/gnmic/issues/396#issuecomment-853481628. The target does not appear in the prefix section in the protojson format when collector is sending the message to kafka for nokia, Even tough it is declared in the subscription, as you said that currently it is not supported currently for nokia.

[code]

Could you let me know if ther

[2021-06-04 16:58] karimra commented on #398
Hi, I think this is a question for a Nokia representative.

What I can do here is adding a knob under the output config to add a target field to the message based on a template.
The config would look something like this:

[code]

The template could be either a GoTemplate (like abobe) or a `jq` filter if you prefer that,
the template input takes in some metadata of type`map[string]interface{}` that

[2021-06-04 20:02] hellt commented on #398
Hi all,
do we know if in the subscription defined like this:

[code]

we actually set the target in the `prefix` field of the `SubscriptionList` message and not on the `path` field of the `Subscription` message?

[2021-06-04 20:07] karimra commented on #398
yes it is set in the prefix

[2021-06-04 20:18] dshah2012 commented on #398
Thanks @karimra for your response. That sounds great.
Let me know if i have understood it right.
There were will two additional fields in the output add-target which will have multiple options to use.
other one would be the  target-template. The value for the target-template would be a GO template or a jq filter.

Sorry for asking little trivial question as i am not familiar with go or jq that muc

[2021-06-04 20:28] karimra commented on #398
yes, that's the idea.

I will come back with examples of go templates and jq filters once it's done.

I'm thinking about adding a field under subscription, `set-target: true | false`

If set to `true`, the `Subscribe` Request will have the target field set to the target name.
That way a single subscription can be used for multiple targets and still have different target values.

[2021-06-04 21:33] ksator opened #399 "How can I pass several EOS commands with gNMIc and SET RPC and the origin cli?"
Hello

arista-cli.yang is https://github.com/aristanetworks/yang/blob/master/EOS-4.26.0F/experimental/eos/models/arista-cli.yang
[code]
I can use the GET RPC with origin cli:
[code]
I can use the SET RPC using origin cli if there is one single EOS command:
[code]
How can I use several EOS commands with gNMIc and SET RPC and the origin cli?

I am able to do it with gRPCurl and SET RPC and the origi

[2021-06-04 21:35] ksator commented on #399
With OpenConfig data model, we can use a file with the SET RPC:
[code]
[code]
[code]
Can we use also use a file with gNMIc and SET RPC and the origin cli?

[2021-06-05 08:21] karimra commented on #399
Hi,

You can use the `--update-path` and `--update-value` multiple times.
[code]

The same statement is valid for the pairs:
- `--update-path` , `update-file`
- `--replace-path`, `--replace-value`
- `--replace-path`, `--replace-flle`

What you cannot do is mixing `--update-value` and `--update-file` or mixing `--replace-value` and `--replace-file` in the same command.

About using a file with the

[2021-06-05 08:25] karimra commented on #399
For the origin cli, you can also look into using the flag `--request-file`
https://gnmic.kmrd.dev/cmd/set/#template-format

[2021-06-05 12:39] ksator commented on #399
Thank you!

Example with:
[code]
[code]
[code]
So this is working.  Great!

[2021-06-05 12:39] ksator commented on #399
I tried using one single `--update-path` and one single `--update-value` will all the eos commands (slitted with `\n`) as shown above in the grpcurl example but it did not work with gnmic ...

[2021-06-05 12:44] ksator commented on #399
CLI origin encoding should be ASCII ...
[code]
[code]
[code]
[code]
so I can not currently use the flag `--update-file` ...

[2021-06-05 15:02] karimra commented on #399
Let me try to build the same example with the `--request-file` flag

[2021-06-05 16:51] karimra commented on #399
I found an issue with the ascii value encoding when using `--request-file`, which is fixed in #401
I will release v0.14.3 with the fix when gh container registry will be out of maintenance: https://www.githubstatus.com/

So you will be able to use a file that looks like this:
[code]
[code]

Or the same in json
[code]
[code]

and run:
`gnmic -a x.x.x.x set --request-file req.yaml`
or
`gnmic -a x.x.

[2021-06-05 16:59] ksator commented on #399
@karimra awesome!
I will upgrade to v0.14.3  and test it.
Thanks!!

[2021-06-05 22:58] karimra commented on #399
released! let me know how it goes.

btw, you can omit the encoding from the file and set it using the --encoding flag
[code]

[code]

[2021-06-06 10:17] ksator commented on #399
Hello @karimra
It works well!
This is awseome. Thank you so much for your help!

[2021-06-06 10:17] #399 closed

[2021-06-06 19:25] dshah2012 commented on #398
Thank you. That's great.

[2021-06-07 11:43] karimra commented on #398
Hi, can you try the last release v0.15.0 ?

[code]

[2021-06-07 12:46] dshah2012 commented on #398
Thanks @karimra . Sure will try today and let you know how it goes.

[2021-06-07 14:37] dshah2012 commented on #398
Hello @karimra ,

Yes i try the new docker image and its working as expected. Thanks for adding this feature in a small time frame.
Closing the Issue.

[2021-06-07 14:37] #398 closed

[2021-06-15 10:58] #390 closed

[2021-07-12 19:28] dshah2012 opened #411 "Kafka: Support SASL_SSL"
Hello @karimra ,

Does current gnmic support kafka output with SASL_SSL with username and password along with kafka certificates to connect to the kafka cluster.
I saw one issue that was raised earlier with the SASL username and password enhancement. Does it also support integration of the certificates too ?

[2021-07-13 02:21] karimra commented on #411
Hi @dshah2012

TLS based connections are not supported currently, let me see if I can add it over the next few days.

[2021-07-13 08:26] noredistribution opened #412 "[RFE] Add support for gRPC token-based auth"
Would be nice to have token-based auth in gnmic (ref: [https://grpc.io/docs/guides/auth/)](https://grpc.io/docs/guides/auth/)) to be able to fetch device data using service accounts for example from Arista's CloudVision 🙏

[2021-07-13 08:28] hellt commented on #412
that is an example of token based auth - https://github.com/aristanetworks/goarista/commit/4e6fdcf7f22110ef30e57869c1f0ddac8713b54f#diff-9b67042dba77194358f15e0efb60451bf36dfee972a28be145bc950ea0161787

[2021-07-13 09:08] karimra commented on #412
@noredistribution, sure I will try to add it this week.
If I understand correctly, the token is always used together with a secure gRPC connection?
And it will be defined using a flag or within the config file.

[2021-07-13 09:11] karimra commented on #412
Is there a mechanism to automatically refresh the token if needed?

[2021-07-13 13:10] dshah2012 commented on #411
Thanks .

[2021-07-13 15:27] noredistribution commented on #412
Thanks a lot guys for taking this on!

there will be an API to renew the token in newer CloudVision releases( note the service account token has a max life of 1 year by default)

yes that's correct, example here: https://github.com/aristanetworks/goarista/blob/master/gnmi/client.go#L120

[2021-07-13 17:03] dshah2012 opened #415 "transport: Error while dialing dial tcp juniper_ip:57400: operation was canceled"
Hello @karimra ,

I was facing the issue with the juniper device. I tried to look around to see if there is any issue. Since the error is also at abstract, and i am not familiar with core networking and go so not sure if its there is something blocking the request or if there is some issue in gnmic collector.

[code]

Regards,
Darshan

[2021-07-13 17:35] karimra commented on #415
That looks like a reachability problem.
I assume you can ping the router IP,
So is 57400 the port used by the router for the gnmi-server? is the gnmi-server up ?

[2021-07-13 17:45] dshah2012 commented on #415
Okay i guessed that. Will check that Thanks.

[2021-07-13 17:46] #415 closed

[2021-07-14 07:31] karimra commented on #411
@dshah2012 can you give it a try with v0.17.0 ?
configuration examples are given here: https://gnmic.kmrd.dev/user_guide/outputs/kafka_output/#security-configuration-examples

For `SASL_SSL`:

- Without server certificate verification
[code]
 - With server certificate verification
[code]
- With client certificates
[code]
- With both server certificate verification and client certificates
[code]

[2021-07-14 07:36] karimra commented on #412
@noredistribution can you give it a try with v0.17.0?

You can pass the token with the global flag `--token`, with the EVN var `GNMIC_TOKEN`, or under a specific target config:

[code]

The token is added to each RPC only in the case of a secure connection,
An empty token will not be added.

[2021-07-14 13:21] dshah2012 commented on #411
Thanks @karimra. Sure will give it a try today and let you know how it goes.

[2021-07-14 15:43] noredistribution commented on #412
thanks so much @karimra it works like a charm!

[code]

[2021-07-14 20:16] dshah2012 commented on #411
Hello @karimra ,

The tls  feature works fine. But i faced one issue if i do not provide user key in the sasl section it throws and error and says that it expects that key. So i had to give it user.
Also in the documentation it was user: https://gnmic.kmrd.dev/user_guide/outputs/kafka_output/#security-configuration-examples
But other than that the features works perfectly fine.
Not sure if it shou

[2021-07-15 01:49] dshah2012 commented on #411
Update: I removed the username and kept user under sasl and It worked fine. But if i remove user and keep username it throws an error. Error says
`[kafka_output] 2021/07/15 01:47:20.893434 /home/runner/work/gnmic/gnmic/outputs/kafka_output/kafka_output.go:286: worker-0 failed to create kafka producer: kafka: invalid configuration (Net.SASL.User must not be empty when SASL is enabled)`

[2021-07-15 07:02] karimra commented on #411
Good catch thanks, I will fix the docs! `username` --> `user`

[2021-07-15 13:25] dshah2012 commented on #411
Thanks for the feature again.

[2021-07-15 13:25] #411 closed

[2021-07-16 04:20] #412 closed

[2021-07-19 19:49] dshah2012 opened #424 "Adding target through API does not start subscribing to that target"
Hello @karimra ,

I was also looking other ways of adding targets to gnmic config and one method was
First: I used was the target file loader which worked fine.
Second one I was experimenting with respect to the API.
I was using this end point to add targets.
https://gnmic.kmrd.dev/user_guide/api/configuration/#post-configtargets .
I was able to successfully add the target as i was able to see in

[2021-07-20 01:58] karimra commented on #424
Hi @dshah2012,

The key is missing because the request body is missing `name`.
I will update the docs example and either make the name mandatory through the API or make it default to `address`

To start the subscriptions for a newly added target you can use this endpoint: https://gnmic.kmrd.dev/user_guide/api/targets/#post-targetsid
The `id` should be the value in `name` from the added config.

As

[2021-07-23 22:52] dshah2012 commented on #424
Okay Thanks

[2021-07-23 22:52] #424 closed

[2021-07-25 16:05] karimra opened #429 "Multiple Ip router address for the same target"
### Discussed in https://github.com/karimra/gnmic/discussions/428

<div type='discussions-op-text'>

<sup>Originally posted by **dshah2012** July 24, 2021</sup>
Hello @karimra ,

Can i add multiple IP address under the same target. Since we have primary router IP and secondary router IP for a router. If one does not work then it should use the second.
I saw this documentation on the website.
https

[2021-07-29 06:18] #429 closed

[2021-08-26 21:46] jbemmel opened #455 "Set gNMI user agent header value such that users can identify who is connected"
On SRL you can get a list of active gNMI connections, including the client name. For demos it's nice if one can see clearly which component(s) are connected

In Python this looks something like this:
[code]

[2021-09-08 00:36] karimra commented on #455
delivered in #456

subscription 3 in below snippet
[code]

[2021-09-10 12:23] erdemkucuk opened #457 "No prebuilt binary for M1 based Macs (darwin-arm64)"
bash -c "$(curl -sL https://get-gnmic.kmrd.dev)"
No prebuilt binary for darwin-arm64.
To build from source, go to https://github.com/karimra/gnmic
Failed to install gnmic
	For support, go to https://github.com/karimra/gnmic/issues

[2021-09-10 15:21] karimra commented on #457
ok, thanks, I will add `darwin-arm64` to the next release

[2021-09-17 00:27] #357 closed

[2021-09-17 00:30] karimra commented on #457
The latest release (v0.19.0) is available for arch arm64 on Darwin, please give the installation another try.

[2021-09-28 19:11] karimra opened #464 "add assert capabilities to Set RPC with --request-file"

[2021-09-28 19:11] #455 closed

[2021-09-28 19:11] #457 closed

[2021-10-01 11:51] kabraet opened #465 "Cisco IOS-XR path key with double quote - backslash escape character not removed"
Hello, I'm trying to use gnmic with ios-xr which seems to require quoted key names. When I include these in the path specification, it includes both the quote and a backslash:

$ gnmic -a 172.30.150.130:57400 -u cisco --insecure --encoding JSON_IETF get --path 'openconfig-interfaces:interfaces/interface[name="Optics0/0/0/0"]' --print-request --format prototext
password:
Get Request:
path:  {
  ele

[2021-10-01 11:57] #465 closed

[2021-10-19 21:08] jbemmel opened #480 "Add 'script' action"
In addition to HTTP and gNMI actions, running a local bash script (or any program) with an environment and parameters passed to it can be useful in various automation scenarios

[2021-10-19 22:46] karimra commented on #480
makes sense, do you want to give it a shot?

[2021-10-20 08:54] awlx opened #482 "How to set Origin field in Path"
Hey everyone,

first of all thanks for the great software. I am currently working to get `smash` and `sysdb` metrics from Arista. With their client they have an option to set the `origin` to `eos_native`.

Example:
[code]

It seems to be a valid field in the `path` attribute. Described here https://github.com/openconfig/reference/blob/master/rpc/gnmi/mixed-schema.md#origin-specification-in-path

I

[2021-10-20 09:01] #482 closed

[2021-10-21 11:30] awlx commented on #482
Thank you! :)

[2021-11-02 06:03] fredsod opened #486 "Duplicate subscriptions towards the same path"
Hi,

When I try to start a subscription, GNMIc creates two subscriptions towards the same router and path, I can't really figure out why.

I'm running GNMIc with the following command:
`gnmic -a <IP> -u <username> sub -e json --tls-cert cert.pem --tls-key key.pem --tls-ca ca-cert.pem --path <path> --stream-mode sample -d`

Debug log when the duplication occurs:
[code]

[code]

[2021-11-05 21:43] karimra commented on #486
Sorry I didn't notice this issue, let me have a look at it.

[2021-11-06 17:07] karimra commented on #486
it looks like the config picks up 2 subscriptions:
[code]

Are you running the subscribe command in prompt mode ?

[2021-11-06 17:19] fredsod commented on #486
I noticed that before the 'password:'-prompt there is only one subscription(1635797144) in the debug log, and after there are two (1635797144 + 1635797148).

 i'm starting the subscription with the following command(without prompt mode):

`gnmic -a <IP> -u <username> sub -e json --tls-cert cert.pem --tls-key key.pem --tls-ca ca-cert.pem --path <path> --stream-mode sample -d`

[2021-11-06 17:30] karimra commented on #486
Thanks, I see the same behaviour when password is not given in the command but via prompt.
I will try to find out what's happening.

[2021-11-09 16:38] karimra commented on #486
Hi,

Thanks again for reporting this.
I believe it is fixed in v0.20.3, can you check on your side ?

[2021-11-09 19:12] fredsod commented on #486
Hi
thank you for the fix, it works great.

[2021-11-09 19:13] #486 closed

[2021-11-18 15:11] jbemmel opened #493 "Add text template output"
It would be useful to have an output format that uses https://pkg.go.dev/text/template to produce arbitrary text files.

When an event or response is received, it would be passed as a parameter to the template (subject to filter expressions etc.)

[2021-11-18 15:40] karimra commented on #493
I agree, something along these lines was suggested before as an option under file output but never happened.
I see it possible for file and msg queue type of outputs.
The subscribe response format is a bit hard to work with in a go template, this would require to change the format before passing to the template or adding few helper functions to the template.

[2021-11-19 13:49] drunkensqusih opened #496 "Authentication failed"
I have noticed an issue with the  parsing of passwords when they are provided via ENV or Config

Given the following password
```GNMIC_PASSWORD='|Bo|Z%TYe*&$P33~'```

I see this in the debug logs when i start up a subscriber

[code]

Not only is it doing some UTF encoding but it actually seems to be removing characters after the `$`

If i try this via CLI it works as expected and this is in the de

[2021-11-19 18:36] karimra commented on #496
Hi,

Thanks for catching and reporting this.

The UTF encoding comes from JSON Marshaling the target configuration and is only related to log printing, the password is still stored as it is in ENV or config file.
The real issue is the "disappearing" characters after $, that comes from trying to expand ENV variables in the config.

I did a few tests and it seems that a reasonable fix is: do not exp

[2021-11-20 06:25] karimra opened #497 "fix #496"
#496

[2021-11-20 06:25] #497 closed

[2021-11-21 10:50] hellt opened #502 "yang paths with collapsed prefixes?"
I wonder if it is possible to create a gnmic path/generate option that would collapse the prefixes of a given path.

Consider an example of a path that uses module prefixes:

[code]

Each element of the path comes with a prefix, although YANG allows using module prefixes only when it is changed from the parent node; for example, the valid notation of this path:

[code]

The logic of using a path f

[2021-11-22 03:09] karimra commented on #502
This should be possible, I will try to implement it

[2021-12-03 01:57] aikulkarni13 opened #509 "Issue while trying to do a set request"
Seeing the following issue while trying to do a set -
 gnmic -a <ip>:<pwd> -u <> -p <> --insecure set --update-path "openconfig-interfaces:interfaces/interface[name=*]/config" --update-value 'true'

Error:
set request failed: SetRequest failed: rpc error: code = Unknown desc = Request payload is empty

[2021-12-04 07:28] karimra commented on #509
Can you share some logs ? ideally with `--debug` and `--print-request` flags
The error comes from the box, it means that the request is not accepted.

Looking at the path, I can assume that this an OC enabled box.
The path `openconfig-interfaces:interfaces/interface[name=*]/config` is a container that expects this kind of format: https://github.com/openconfig/public/blob/master/release/models/inte

[2021-12-05 19:07] jbemmel opened #511 "Report errors on stderr, not stdout"
gnmic currently prints all its output on stdout, even if there is an error in a request.
One can add '--log' to log to stderr, but also without this flag errors should be reported via stderr, not mixed in with stdout

[2021-12-05 19:34] karimra commented on #511
That shouldn't happen, which errors do you see printed to stdout ?

[2021-12-07 18:24] jbemmel commented on #511
Unable to reproduce for now, closing until I see it again

[2021-12-07 18:24] #511 closed

[2022-01-13 23:08] lukaszo opened #513 "gnmic never closes connection for Target.Client"
In our long-running process, we are using gnmic as a library. We are connecting to Arista EOS and we've noticed that connections are never closed:

[code]

All we do is basically this in a loop:

[code]

It looks like [conn.Close()](https://github.com/karimra/gnmic/blob/master/target/target.go#L112) is never executed for the selected connection.

[2022-01-14 16:23] karimra commented on #513
Hi,

Thanks for taking the time to write this issue.

First let me say that using gnmic as lib needs some work and proper documentation.

The `conn.Close()` you are pointing at is intended to close the secondary connection ( when the primary one is successful ) if the target configuration has a comma separated list of addresses. Is it the case for your targets?

`tgt.Stop()` is meant to stop a gnm

[2022-01-16 00:10] lukaszo commented on #513
Yeah, we've noticed :D. It's a great CLI, though!

No, we have only one address. Btw, In case of more than one address I believe there is a small chance for a race condition there. I mean, one more gorutine can send a connection through the channel before `done` is closed.

According to grpc module documentation, when [`DialContext` ](https://pkg.go.dev/google.golang.org/grpc#DialContext) is used

[2022-01-16 02:04] karimra commented on #513
You are right, this was added with the assumption that only one of the connections will be successful.
I can add a step that checks if the target has a gNMI client, if true close the "secondary connection"

Maybe I misunderstood your requirement, if this is a long running process, there is no need to recreate a new gNMI client for each RPC. `tgt.Get()` will reuse the existing gNMI client `tgt.Clie

[2022-01-18 21:31] lukaszo commented on #513
This sounds good

[2022-01-23 21:20] karimra commented on #513
Can you give the last release (0.21.0) a try?
I added the `target.Stop()` method as well a `target.ConnState()` method that returns the connection state as a string.

here is a sample of how it can be used to a Get and a Set RPCs:

[code]

[2022-01-23 21:21] karimra commented on #502
released as part of v0.21.0

[2022-01-23 21:21] karimra commented on #496
Hi, the fix is part of release v0.21.0.
If you can please give it a try.

[2022-01-23 21:22] karimra commented on #493
available in release v0.21.0

[2022-01-23 21:22] karimra commented on #480
available in release v0.21.0

[2022-02-01 08:23] #509 closed

[2022-02-02 19:48] karimra opened #525 "Add support for NetBox target discovery"

[2022-02-02 19:48] karimra opened #526 "Add support for k8s target discovery"

[2022-02-02 19:49] karimra opened #527 "Implement jsonrpc endpoints for gNMI Get and Set"

[2022-02-02 19:50] karimra opened #528 "Add support for HC vault secrets"

[2022-02-02 19:53] karimra opened #529 "Add basic authentication support to the gNMI server functionality"

[2022-02-02 20:10] jhujhiti opened #530 "Prometheus output sometimes returns no content when using gnmi-cache"
I'm having a very unusual issue with the Prometheus output sometimes returning no content. I'm new to gnmic, but I think the following config should be working. Its goal is to add the interface description as a tag on other interface metrics, which should then result in the Prometheus metrics getting the description as an associated label:

[code]

Sometimes, this configuration works great and I g

[2022-02-02 23:15] karimra commented on #530
Thanks for reporting this, I can reproduce this issue.
I will fix it and release as part of 0.22.1 shortly.

[2022-02-02 23:17] jhujhiti commented on #530
Amazing, thank you!

[2022-02-03 17:04] jhujhiti commented on #530
Confirmed fixed in 0.22.1

[2022-02-03 17:04] #530 closed

[2022-02-03 19:08] karimra commented on #530
Thank you for a well explained issue.

[2022-02-03 19:14] karimra opened #533 "Add sync capability to gnmic diff command"

[2022-02-04 05:54] #502 closed

[2022-02-04 05:54] #496 closed

[2022-02-07 07:06] melkypie opened #535 "Add support for DNS target discovery"
Would be nice to have DNS target discovery similar to how prometheus does it. https://prometheus.io/docs/prometheus/latest/configuration/configuration/#dns_sd_config

[2022-02-08 06:29] melkypie commented on #525
Rather than adding Netbox target discovery it would be best for HTTP target discovery to support Prometheus format input. This would allow to use existing APIs made for Prometheus for gnmic. In the case of Netbox, one is already made:  https://github.com/FlxPeters/netbox-plugin-prometheus-sd. Also file target discovery could be changed to support Prometheus format discovery as well.
Most likely be

[2022-02-08 07:01] karimra commented on #525
This is a good idea, I wasn't aware of the prometheus NetBox plugin.

It can be achieved by adding an optional template transformation to both HTTP and File target discovery.
`Netbox (or any other source producing Prometheus http_sd format)` --> `Prometheus Format` --> `Template` --> `gNMIc Format`.

But I think it still makes sense to add a separate NetBox target discovery mechanism using its nat

[2022-02-08 07:08] karimra opened #537 "Add the option to execute a configurable template at each run of HTTP and File target discovery"
Suggested by @melkypie in #525
gNMIc HTTP and File target discovery should support prometheus [http_sd format](https://prometheus.io/docs/prometheus/latest/http_sd/).
This would allow gNMIc to use discovery mechanisms available for prometheus.

One way this can be implemented is by adding a template config option under both target discovery mechanisms (http and file) that transforms the Prometheus

[2022-02-18 13:08] sacckth opened #539 "Go template example is not working with current gomplate"
Template Example under: [docs/cmd/set.md](https://github.com/karimra/gnmic/blob/main/docs/cmd/set.md) is not working due to some changes in `gomplate` module. To be more specific `hasKey` is no longer a valid option and needs to be replaced with `has`.

[2022-02-18 13:36] hellt commented on #539
Thanks @sacckth
This PR should address it #538

[2022-02-18 17:19] karimra commented on #539
merged and republished the docs, thanks

[2022-02-23 16:37] niekvanderven opened #550 "Cosmetic issue website"
Hi,
Started to play with gnmic as a collector for SROS and SRL instead of telegraf.
Can you correct the website:
https://gnmic.kmrd.dev/deployments/single-instance/containerlab/prometheus-output/
Deploy it with:

git clone github.com/karimra/gnmic
fatal: repository 'github.com/karimra/gnmic' does not exist

to --> git clone https://github.com/karimra/gnmic.git

Thanx for the great work !

[2022-02-24 21:15] #537 closed

[2022-03-07 18:04] karimra opened #555 "implement an `add-value` processor"
An add-value processor allows to add a value to an event message.
The value name and the value itself can be static or dynamic (based on the received event message itself).
This will allow to change values while keeping the original ones.

[2022-03-18 01:20] LeonGWang opened #557 "gnmic set with `--update-file` and `--replace-file` flags are generating empty gNMI Set requests."
Empty gNMI Set requests are sent when I run `gnmic set` command while providing the `--update-file` and `--replace-file` flags.

For example:
❯ gnmic -a [address:port] -u [username] -p [password] --insecure --gzip set  \
--replace-path /acl/acl-sets \
--replace-file value.json --dry-run
{}
❯ gnmic -a [address:port] -u [username] -p [password] --insecure --gzip set  \
--update-path /acl/acl-sets \

[2022-03-18 16:23] karimra commented on #557
Thanks for catching this

[2022-03-18 16:26] #557 closed

[2022-03-22 08:42] melkypie opened #560 "Add kubernetes type clustering option"
Currently the only KV storage we can use for clustering is Consul. A nice feature would be to add Kubernetes type and store all of the key/value information in Kubernetes objects similar to how argocd does it. This would allow the user to not have to maintain another KV storage solution.
I know this is quite a big ask but I have already managed to deploy gnmic clustering on Kubernetes with consul

[2022-03-23 20:35] karimra commented on #560
I'm not if I understand correctly but this sounds like it needs a separate component acting as a k8s controller for gnmic. It would be responsible for managing the state of the cluster.
It could be that I'm overthinking this.
How does argocd store an instance state in k8s? Do the objects have a TTL ? Can the TTL be refreshed?

A guide to deploy gnmic on k8s will be very helpful, it would fit nicel

[2022-03-23 20:36] #550 closed

[2022-03-24 10:52] melkypie commented on #560
Argocd stores most of its configuration in Secrets (but I am sure ConfigMaps would also be fine for gnmic) and Custom Resource Definitions (which would be too much for the simple use case in gmnic) which are basically key-value stores. They don't have a specific way to set a TTL but I am sure you could just create an entry in the specific configmap with the TTL value if that is needed.
Since from

[2022-03-24 11:32] VahidTa opened #561 "gnmic and JunOS"
I test gnmic with vMX Junos and I got error below:

`nmic1    | 2022/03/24 10:41:28.381807 [gnmic] target "10.1.181.92:57400", subscription sub1 rcv error: rpc error: code = InvalidArgument desc = Invalid subscription path: /openconfig-platform:components/component/cpu`

I have tested same path with pygnmi and it works.

[2022-03-24 11:59] hellt commented on #561
can you try `--path openconfig-platform:/components/component/cpu`?

[2022-03-24 18:52] karimra commented on #560
Thanks for working on the guide and thanks for the details about argocd.

Consul does a little bit more that just storage.
What I meant by TTL is a way for a key (leader or target ownership) to be deleted after a certain duration if its owner does not refresh it. Consul handles this natively. The key TTL mechanism makes leader election/reelection as well as target ownership locking/transfer easy.

[2022-03-24 19:05] karimra commented on #561
Can you point out where does gnmic add a `/` as prefix ?

`/openconfig-platform:components/component/cpu` and `openconfig-platform:components/component/cpu` are parsed to different gNMI paths.

The first one gets parsed to a gNMI path with 3 path elements:
pathElems=`["openconfig-platform:components", "component", "cpu"]`
While the second one  gets parsed to a gNMI path with an `origin` and 3 path

[2022-03-24 19:44] nleiva opened #563 "Use of assume-no-moving-gc"
FYI. I run into the following when running the API package with Go1.18.

[code]

I didn't dig why you are using it, but it looks it might be in more than one place.

[code]

[code]

[2022-03-24 21:07] VahidTa commented on #561
As you can see on https://github.com/karimra/gnmic/issues/561#issue-1179386398 inside logs it shows with `/` prefix. However, in yaml file config https://github.com/karimra/gnmic/issues/561#issuecomment-1077585219 it is without `/` prefix.

Anyway, Roman path worked correctly. My question is why `openconfig-platform:components/component/cpu` path does not work as it is working on pygnmi.

[2022-03-25 01:26] karimra commented on #563
Thanks for pointing this out.
I haven't tried go1.18 yet but I will look into it.

The `go4.org/unsafe/assume-no-moving-gc` package seems be coming from `github.com/hairyhenderson/gomplate/v3/funcs`,
which I use to add custom functions to all Go templates used by gNMIc.
The [net functions](https://docs.gomplate.ca/functions/net/) in `github.com/hairyhenderson/gomplate` happen to use `inet.af/netad

[2022-03-25 07:21] VahidTa commented on #561
Thank you Karim for your description about prefix.

About the path, there is no right or wrong which you mentioned. However, I think it is better to have both formats if it is possible on gnmic.

[2022-03-25 07:39] hellt commented on #561
@VahidTa as @karimra pointed out, if in a user-provided path `/openconfig-platform:components/component/cpu` pygnmi treats `openconfig-platform` as a path origin, then I think pygnmi is wrong here, because the first element of the path may contain a YANG prefix, that should be part of the path, and not be promoted to origin.

So my take is gnmic is more accurate here as it allows you to both set t

[2022-03-25 11:09] VahidTa commented on #561
@hellt you can see that for example https://yangcatalog.org/yang-search/yang_tree/openconfig-platform@2022-02-02 also uses the path format that I mentioned first. This site is funded by IETF and I get the path from there to test the gnmic for my project.

[2022-03-25 12:08] hellt commented on #561
@VahidTa I've asked openconfig users to see if that sensor path is not vendor-specific.

[2022-03-25 15:53] nleiva commented on #563
`inet.af/netaddr` is the precursor of `net/netip` that comes in Go1.18. I'll look into `github.com/hairyhenderson/gomplate` to understand what their plans are.

[2022-03-25 16:00] hellt commented on #563
I think gomplate author has it all under control
https://github.com/hairyhenderson/gomplate/pull/1335

On Fri, Mar 25, 2022 at 4:53 PM Nicolas Leiva ***@***.***>
wrote:

[2022-03-28 08:38] hellt commented on #561
We had a chat with OpenConfig group and based on the answers we got I think it is safe to say that it is not correct for the tools to take a path `/foo:bar/baz` and promote `foo` as a path origin.
Origin should be encoded in a way that doesn't mangle the first path element. In gnmic this is done like `foo:/pfx:bar/baz`; `foo` here is not part of the `/pfx:bar/baz` path, and thus it allows to speci

[2022-03-28 09:48] VahidTa commented on #561
@hellt That's great and thank you for your clean answer to my concern. So, this inconsistency in tools needs to be solved because this makes it hard to use one standard path/sensor value.

[2022-03-28 18:59] jhujhiti opened #564 "JQ event processor destroys unmatched events"
I'm running version 0.24.1 and having an issue where the JQ event processor seems to be destroying events that don't match the configured condition. I'm able to reproduce with a very simple test case:

[code]

Setting `condition` to `"false"` causes what seems to be a sensible debug message: `2022/03/28 14:46:43.043792 /home/runner/work/gnmic/gnmic/formatters/event_jq/event_jq.go:120: [event-jq] c

[2022-03-28 20:52] karimra commented on #564
Hi, I haven't tried this, but the jq expression seems to need the update assignment operator `|=` instead of just `|`
I would try something like this:

`.[] |= (.values["/srl_nokia-interfaces:interface/srl_nokia-interfaces-lag:lag/lag-speed"] = .values["/srl_nokia-interfaces:interface/srl_nokia-interfaces-lag:lag/lag-speed"] * 1000000')`

The event processors take a list of `Event` messages as inp

[2022-03-28 20:57] karimra commented on #564
Maybe this example can clarify it:
input file
[code]
result with `|`
[code]
result with `|=`
[code]

[2022-03-28 21:04] jhujhiti commented on #564
JQ tends to give me a headache as well. That explanation makes sense but, strangely, `expression: '.[] |= (.values["/srl_nokia-interfaces:interface/srl_nokia-interfaces-lag:lag/lag-speed"] = .values["/srl_nokia-interfaces:interface/srl_nokia-interfaces-lag:lag/lag-speed"] * 1000000)'` results in the exact same behavior as before (lag-speed metrics get changed when `condition` is true, disappear en

[2022-03-28 21:17] karimra commented on #564
I think you are right, the JQ processor is doing some filtering it shouldn't be doing.
I will try to come up with a fix asap

[2022-03-28 23:32] karimra commented on #513
I believe this was solved, feel free to reopen if you see that this behavior is still there.

[2022-03-28 23:32] #513 closed

[2022-03-28 23:33] karimra commented on #480
https://gnmic.kmrd.dev/user_guide/actions/actions/#script-action

[2022-03-28 23:33] #480 closed

[2022-03-28 23:33] karimra commented on #493
https://gnmic.kmrd.dev/user_guide/actions/actions/#template-action

[2022-03-28 23:33] #493 closed

[2022-03-29 04:06] karimra commented on #564
Can you try with the latest release v0.24.2?

[2022-03-29 10:07] karimra opened #567 "Implement a `unit-convert` processor"
Add a processor that converts a value's unit, e.g: volume units (Bytes,KB,MB,...) or time units (s,min,h)...
It should include a knob to allow changing the value name and/or keeping the original value name/value.

- [x] data-convert (B, KB,...)
- [x] duration-convert (s, min, h...)

[2022-03-29 15:18] jhujhiti commented on #564
That fixed both issues! Thanks

[2022-03-29 15:18] #564 closed

[2022-03-31 20:41] bewing opened #571 "event-merge does not appear to work on Arista EOS 4.23M"
While trying to figure out how to tag interface counters with interface descriptions, I discovered that EOS's Octa gNMI server apparently emits every leaf as a separate `gNMI.SubscribeResponse`.  I tried using the documented `event-merge` processor to combine these events, but that doesn't appear to work either.  Debug log below:

[code]

[code]

[2022-03-31 22:57] bewing commented on #571
That is correct, I was using file output for iterative testing (same reason I only subscribed to a single interface).  I was planning on outputting to InfluxDB, so seeing a generic approach to this (instead of the utility of only using it for scraping) for vendors with aggressive SubscribeResponse generation strategies are better supported.  If not feasible, I will look at other options, so no wor

[2022-03-31 22:57] #571 closed

[2022-03-31 23:04] karimra commented on #571
The same caching method can be used for influxDB (I will need to write it), so if you are interested I can work on it.

The difference with `prometheus` will be that writing to influxDB will happen at regular intervals ( instead of waiting for prometheus to send a scrape request).
The write interval will have to be long enough to make sure all the leaf values arrived, i.e `write_interval` > `sampl

[2022-04-01 09:37] hellt commented on #571
Maybe doing that processing/augmentation is better to happen in TSDB.
Using a collector-side caching will cause timestamp alteration (original TS will be rewritten with a TS of a merge event), which might be undesirable.

This makes me thinking that maybe a cool hack would be to add an optional facts-collection step before the subscriptions start to collect certain information about the target and

[2022-04-01 13:33] karimra commented on #571
The resulting merged message will have the timestamp of the most recent message, not the time at which the merge happened.
If someone is using a merge I believe they don't care about accurate timestamps per leaf anymore.

Augmenting messages with data from other subscriptions is the goal behind the `event-merge` processor.
This could be done by adding a cache to the influxDB output.
Right now, inf

[2022-04-05 12:05] melkypie opened #575 "Allow reload of config file at runtime"
Currently if you run gnmic in docker or kubernetes, the only way to reload the configuration is by restarting the container/pod.

This could be triggered the same way as prometheus allows you to reload a config file, e.g., sending a SIGHUP to the process or sending a POST request to a url.

[2022-04-05 13:06] VahidTa opened #576 "HTTP Loader help"
Hi,

Is there any http body template to help for API body format?

I am getting this error:

[code]

[2022-04-05 15:17] karimra commented on #575
This has been brought up before, the complexity here is in going through the targets and figuring out if there was any change, reestablishing the gRPC connection if needed, updating subscriptions if needed, etc...

Prometheus pulls data from targets, so it's just a matter of using the new configuration on the next scrape.

It is more simple to just restart the gnmic instance, considering that ther

[2022-04-05 15:27] karimra commented on #576
Hi @VahidTa

If you don't plan to use any GoTemplate to transform the response body, it should look like this:
[code]
The fields under each target are the same as the ones you would put in the config file.
Note that only "address" is required, the other fields can be set from the configuration file main section.

Also, please use the latest release v0.24.4, there was an uninitialized variable in t

[2022-04-05 15:30] melkypie commented on #575
Maybe in case of Kubernetes, it would be easier to implement a readiness check so that Kubernetes only restarts another pod after the first pod is ready and is scraping all it's assigned targets?

[2022-04-05 15:56] karimra commented on #575
Can you details what you mean by "first pod" here ?
What would be the criteria for a pod to be "ready" ?
It would be helpful if you can details which configuration you want to update dynamically, without restarting

[2022-04-07 16:04] hellt opened #578 "processor to transform datetime strings"
some systems report back the uptime as a string, like `1d22h` or `3w0d`. To push a metric like that to prom tsdb it would be cool to have a processor that would allow to parse the datetime string to a integer value measured in ns, s, hr,

[2022-04-07 23:08] jhujhiti opened #579 "Detecting broken subscriptions"
Hello again!

As you've no doubt figured out by my third issue, I'm working on building a monitoring system using gnmic as gNMI ingest and Prometheus as a metrics backend. The entire thing has been working great and has been very intuitive, but one thing I'm stuck on is how to detect when devices are down or otherwise not reporting sampled paths as they should by using the gNMI stream itself. My i

[2022-04-08 18:35] karimra commented on #579
Hi,

I will look into this and get back to you.

The metrics supported by file_loader right now are:

Gauges:
- `number_of_loaded_targets`
- `number_of_deleted_targets`
- `file_read_duration_ns`

Counters:
- `number_of_failed_file_reads`
- `number_of_file_read_attempts_total`

I think I can add a few gNMIc internal metrics:
Gauges:
- `number of targets in config`
- `number of gNMI clients`

Counte

[2022-04-09 00:10] jhujhiti commented on #579
This actually sounds like a great idea. I can do the alerting I need simply on `sum (rate(message_count[1m])) by (source,subscription) == 0`.

I don't think I need the gauges at all for my use case here, but they're a good idea regardless. I would also be interested in tracking:

- number of locked targets when clustered (gauge)
- number of connection attempts (by failure and success) per target p

[2022-04-15 01:05] karimra commented on #560
@melkypie if you can give the 0.25.0-beta release you will be able to try k8s based clustering.
It uses leases as a locking mechanism.

The deployment method is similar to what you already did with Consul except:
- Obviously no need to deploy a Consul cluster
- The clustering part in the configMap becomes:
[code]
- RBAC:
[code]
- Add the created service account to the SS spec:
[code]
- Add a servi

[2022-04-15 01:18] karimra commented on #579
Hi @jhujhiti,

With the v0.25.0-beta, I believe that I fixed the metrics generation for the loaders.
I also added a few new metrics:
- Cluster leader indication
   Number of locked targets
   Number of received subscribeResponses per target per subscription

[code]
Note that the number of locked targets is retrieved from Consul periodically (10s)

- gRPC client metrics are now enabled:
[code]
That

[2022-04-15 06:21] karimra commented on #578
I will try to implement as part of #567

[2022-04-15 15:42] melkypie commented on #560
Will do, I won't be able to get back to you until Tuesday as I don't have access to cluster where I could test out GNMI due to easter holidays.

[2022-04-15 20:23] jhujhiti commented on #579
Hi @karimra

I set out to test the beta, but I'm still unable to get the /metrics endpoint to emit anything related to gNMIc itself, just the subscribed target metrics. I stripped my config down to the bare minimum:

[code]

And I can see `2022/04/15 16:13:57.220338 /home/runner/work/gnmic/gnmic/app/app.go:272: [gnmic] loader/enable-metrics='true'(bool)` in the debug output, which looks right, but

[2022-04-15 20:36] karimra commented on #579
Oh I see, I think this is not clearly stated in the docs but the internal metrics are not served on the prometheus output server, they are available on the api server, you should be scraping `https://api_addr:7890/metrics`

[2022-04-15 20:47] jhujhiti commented on #579
Oh, of course, I should have thought to try that. `gnmic_subscribe_number_of_received_subscribe_response_messages_total` is exactly what I needed to detect broken subscriptions, and the others will be useful as well. Thanks again!

[2022-04-15 21:35] karimra commented on #579
The reasoning behind putting internal metrics under the api-server is that a user doesn't necessarily use prometheus as output for the target metrics and still wants to get internal metrics.
I think the internal metrics deserve their own page in the docs now, will work on that.

[2022-04-15 21:56] jhujhiti commented on #579
Yeah, that reasoning makes sense. It also helps in case there's a problem scraping metrics, since the output metrics endpoint can get quite large. Best to have the "metadata" on its own endpoint anyway.

[2022-04-19 02:26] dshah2012 opened #586 "Kafka intermittent write issue"
Hello @karimra,

I am running the GNMIC in a cluster mode and I see some intermittent errors in the Kafka output. Due to which some of the data is lost/dropped and is not sent to the kafka output and some of them pass through.

`writing expired after 5s, Kafka output might not be initialized` .

This is my output config in the gnmic config.

[code]

Is there anything that is wrong in the config or

[2022-04-19 02:44] karimra commented on #586
Hi, that config looks OK (except the tls part, but it shouldn't be the cause of the timeout)
Did the amount of telemetry data collected by gnmic increase? More routers, more subscriptions?
You have 2 options to handle more traffic on the kafka output

You can increase the timeout under kafka output (for e.g `timeout:10s`)

Or increase the number of kafka clients, `num-workers: 2`

Increasing the t

[2022-04-19 04:08] dshah2012 commented on #586
Okay. The gnmic subscriptions are same but the target file has many targets. We had separated a target in multiple targets like this one. Since we have multiple subscription we had kept everything in one and we were facing the same issue that i am facing now and also  there was a single connection to the router if we had just one target with multiple subscription.

So we thought of breaking down t

[2022-04-19 04:26] karimra commented on #586
There are no issues if you increase the timeout and the number of workers, gnmic will just use more resources.
You can even set the num-workers to 10 if you want.

The timeout log error is just a symptom, do you see anything else in the logs ? On gnmic side as well as the kafka broker side.
Did you enable gnmic metrics and collected them using Prometheus ? That could give you more visibility into

[2022-04-19 07:54] melkypie commented on #560
I gave it a try.
From my experience it only was able to assign a target to the leader of the cluster as other non-leader instances seem to be failing to acquire locks for targets assigned to them.
So it manages to assign 1 target ( the target that leader assigns itself after failing to assign it to other instances ) and then keeps on failing to assign other targets due to them not acquiring locks

[2022-04-19 13:06] dshah2012 commented on #586
Okay. Actually we have couple of subscription that work for certain devices and not for couple of devices for same vendor as it is a test environment so we have that error saying that subscription failed. Will that cause the issue with the timeout for the kafka thing.?

[2022-04-20 14:23] karimra commented on #586
It shouldn't impact the kafka output.
Do you see a log message that starts with `worker-0 initialized kafka producer:` ?

[2022-04-20 14:55] dshah2012 commented on #586
Yes i can see that log in the gnmic.

[2022-04-20 15:39] karimra commented on #586
You can try to increase the number of workers further.
It really depends on how many resources you assigned to gnmic and the number of updates you are receiving.
One more time, did you enable gnmic metrics ?
Without more information, I can only guess what's happening here.

[2022-04-20 16:52] karimra commented on #560
I'm not sure what is going wrong here, I re tested with a single node as well as 1 control and 2 worker nodes (1.23.4 and 1.22.7)
I'm using kind clusters.
The leader timing out and reassigning the target to another node means that the selected instance was not able to create the lease and/or maintain it.

[2022-04-20 16:57] melkypie commented on #560
The leader assigning the target to itself I understood, but yea the most interesting part is that the lock/lease is not being recognized by the leader although if you look at the leases it is there.
My other thought was that maybe something was wrong with RBAC but when I get a pod with kubectl using that same serviceaccount (the one that gnmic has assigned) it can access all of the leases so not s

[2022-04-25 12:39] melkypie commented on #560
Finally got around to testing it but I found the error!
I had a cluster name with a `-` in it. So when it tries to list the leases, it replaces the cluster name `-` with `/` in here https://github.com/karimra/gnmic/blob/3caa03e83020b0a11ea8fc88b71ca0048a90a196/lockers/k8s_locker/k8s_registration.go#L106
It is my fault for not providing exact configs I used to deploy as then it might have been easi

[2022-04-26 06:07] karimra commented on #560
That part actually replaces `/` with `-`.
But I think you put your finger on the problem; the leader won't be able to retrieve a lock if the cluster name or the target name contains a `-`. Thanks for sharing your findings.

The leader keeps a mapping of the transformed key (`/` --> `-` ) to the original key to be able to revert it back, but it can only map back the keys it locked itself (silly me)

[2022-04-28 13:08] melkypie commented on #560
Seems to be fine. Works with both cluster name and targets having `-` in them.

The targets not being redistributed if the statefulset is scaled up does not currently work as you said is quite an important feature but that is out of scope for this issue.

[2022-05-03 01:50] bewing commented on #571
The primary Arista use case would be counters when using target_defined subscriptions (10s for counters, on_change for the rest of state).  Caching/TS changing of events would have a non-zero impact on delta calculation, I would think (but haven't fully thought through).

Then a processor called event-augment can refer to this in-mem stored structure with a jq accessor, i.e.

I did re-write the ta

[2022-05-03 03:18] karimra commented on #571
What you are describing is a subset of the caching method I described above (which is already implemented in the prometheus output)

It basically caches all the received updates in a gNMI cache which allows a processor run to be applied to all the updates.
So a user can augment a data point with any value/tag from any other update message in the cache.

The difference with the suggested solution i

[2022-05-03 21:11] karimra commented on #560
Thanks for testing it, I will write some docs about k8s based clustering before releasing.

Concerning redistribution, I think this can be done periodically (enabled via a knob `redistribution-interval: 5m` for e.g)
or triggered by an API request to the leader.
If you are interested in this, please open another issue we can follow it up there.

[2022-05-06 08:54] hellt opened #594 "nil pointer deref in `listen`"
reported by a user
running 0.24.4
[code]

[code]

happened on a VM, was not reproducible on a server.

[2022-05-11 23:18] bewing opened #597 "Subscription processor pipeline"
Right now, formatters/processors are assigned to a specific output.  I would consider it useful to be able to apply a set of processors only to events for a given subscription.  One way to accomplish this would be to chain "filter" formatters, where you can have a formatter that evaluates a condition, and has its own list of processors for further event processing if it evaluates to true.

[2022-05-12 17:21] yashikakn opened #598 "Issue with JSON formatting when Requested-path ! = Response-prefix"
When trying to retrieve ip-addresses data using GNMI subscribe request, I see the ip addresses data is received from the DUT (please refer to attached file <json.encoding.raw>)  but looks like the tool has some issue with JSON formatting when Requested-path ! = Response-prefix.
(file <json.encoding.formatted>)

Here, requested path is :/interfaces/interface[name=lo0]/subinterfaces/subinterface[ind

[2022-05-12 17:50] karimra commented on #597
all processors have a condition that tells if they need to be executed on the event message or not, it takes a jq expression

[2022-05-12 22:49] bewing commented on #597
I did a quick spot check, because I didn't remember seeing this in the documentation that I reviewed -- while condition is present on some processors, it doesn't appear to be universal.

[code]

[2022-05-14 01:00] karimra commented on #597
Agree, it's not present for all processors. I didn't see a need for it be present for all of them ( which is wrong )

A solution for this issue would be to implement the condition check for all processors, applying a processor to messages from a subscription sub1 would just need `condition: '.name == "sub1"'`

[2022-05-14 01:44] karimra commented on #598
Hi, took me some time to dig into this but it looks like the whole message marshaling into json is failing because the value of `state/prefix-length` is not a valid json string.
Whatever gnmi server you are querying is returning a single space as a `json` value for  `state/prefix-length`
[code]

[2022-05-24 10:41] dlonghi opened #599 "Segmentation fault (core dumped) on Red Hat Enterprise Linux (RHEL) 9, AlmaLinux 9 and Centos Stream 9"
Tried versions 0.24.4 and 0.25.0-rc1, rpm and x86_64.tar.gz.

[code]

[code]

[2022-05-31 00:09] karimra commented on #599
What cpu architecture are you getting this error on?

[2022-05-31 00:27] dlonghi commented on #599
x86_64

[2022-05-31 15:33] LoboDCOK opened #600 "event-data-convert precessors dont work"
i have a last release of gnmic; but when i trie to active this event-processor, i recibe this error issues

**Error: failed reading event processors config: unknown processors type: event-data-convert**

that's ok or this is a bug?

regards

[2022-05-31 15:37] karimra commented on #600
yep there is an issue there, will be fixed in the next release.

[2022-05-31 16:48] #576 closed

[2022-06-01 01:23] karimra commented on #599
Sadly I'm not able to reproduce this issue:
[code]

I tried on rhel9 as well, same result.
Is there something specific about your host?

[2022-06-01 16:10] jbemmel opened #602 "Remove ixr6 type from examples"
Due to latest SR Linux 22.3.2, examples should use the default type (ixrd2) i.e. leave it empty

Example: https://github.com/karimra/gnmic/blob/main/examples/deployments/1.single-instance/4.prometheus-output/containerlab/prometheus.clab.yaml#L13

[2022-06-04 19:42] karimra opened #604 "kafka input"
### Discussed in https://github.com/karimra/gnmic/discussions/603

<div type='discussions-op-text'>

<sup>Originally posted by **jrametta** June  2, 2022</sup>
Hi There!  Is it possible to have kafka input only in gnmic config such as below?  If so, what are the appropriate command line args to execute?

[code]

tried with subscribe (but of course there are no subscriptions)

[code]

thanks!

</di

[2022-06-07 14:38] dlonghi commented on #599
Tried again with a brand new VM running on hyper-v. No success.
I have been running inside a container and works fine.

[code]

[2022-06-11 17:54] LoboDCOK opened #608 "OS freezing issues"
Hi this is my gnmi config

[code]

I tried to use this one in Debian & Ubuntu (both of them in their last version)

In both case, the OS is income freezing.

Do you have any idea why it's happened?

[2022-06-11 18:25] karimra commented on #608
Hi, what does `OS income freezing` mean?
Can you share how are you running gnmic? from the shell, systemd, as a container?
Do you see any logs in `/var/log/gnmic/gnmic.log` ?

[2022-06-11 18:54] karimra commented on #563
Hi, sorry this took some time to get to but using the latest tag `v0.25.0` you should not see this issue anymore.

[2022-06-11 18:57] #567 closed

[2022-06-11 19:24] karimra commented on #600
Can you give the latest version (v0.25.0) a try?

[2022-06-12 17:21] LoboDCOK commented on #600
Great. It's working fine

Obtener Outlook para Android<https://aka.ms/ghei36>
________________________________
From: Karim Radhouani ***@***.***>
Sent: Saturday, June 11, 2022 4:24:25 PM
To: karimra/gnmic ***@***.***>
Cc: LoboDCOK ***@***.***>; Author ***@***.***>
Subject: Re: [karimra/gnmic] event-data-convert precessors dont work (Issue #600)

Can you give the latest version (v0.25.0) a try?

—

[2022-06-12 21:28] #600 closed

[2022-06-12 23:37] LoboDCOK commented on #608
Ok

This’s the gnmic.log’s file

***@***.***:/var/log/gnmic$ cat gnmic.log
2022/06/12 16:56:57.608308 [gnmic] version=0.25.0, commit=dbc5bdd, date=2022-06-11T18:30:28Z, gitURL=https://github.com/karimra/gnmic, docs=https://gnmic.kmrd.dev
2022/06/12 16:56:57.608345 [gnmic] using config file "/usr/local/bin/.gnmic.yml"
2022/06/12 16:56:57.608518 [config] validating processor "data-convert-1" config

[2022-06-13 12:47] #586 closed

[2022-06-14 12:23] dshah2012 opened #617 "Using gnmic in high Availability opens more connections than configured"
Hello,

We have gnmic running in a cluster mode with consul. The gnmic configuration file has 4 different path and is divided into subscription for each of the target. The problem is that even tough each target has four paths which opens up four different connections to the router, sometimes we see that there are 8 connections happening to the router. Not sure what is root cause for this, would yo

[2022-06-14 16:49] karimra commented on #617
Hi,
Can you check if the connections are from different gnmic instances or from the same one?
You can also check on consul side which instance is handling your targets.
If you don't mind sharing your gnmic configs I can try to reproduce your issue.
If you don't want to share the config here, you can send it to my email address.

[2022-06-24 20:51] nleiva commented on #563
Thanks @karimra. I was on `v0.25.1` and upgrading to `v0.27.1` didn't help.

Are you saying you made changes to the old `v0.25.0`? Any chance you can tag it as `v0.25.2` or else?

Thanks

[2022-06-25 02:50] Hobbydos commented on #599
I had the same issue @dlonghi, for my case it was selinux:
[code]

After disabling selinux, it was fine.

[2022-06-25 08:08] hellt commented on #563
These version numbers you posted @nleiva make me think that you were upgrading containerlab and not gnmic

Gnmic is at 0.25.1 version right now

[2022-06-25 13:32] nleiva commented on #563
OMG, you are right. I’m still recovering from covid as you can tell. Sorry for the misunderstanding

[2022-06-25 16:03] Hobbydos commented on #599
If you don't want to outright disable SELinux, you could try the following:

[code]
centos9stream:

[code]

[2022-06-25 23:48] karimra commented on #563
No worries, were you able to make it work with 0.25.x ?

[2022-06-25 23:48] #604 closed

[2022-06-26 01:23] #602 closed

[2022-06-26 03:26] karimra commented on #578
added in #584

[2022-06-26 03:26] #578 closed

[2022-06-26 04:02] karimra commented on #599
Dug a bit more in selinux direction, this happens because the binary needs to be unpacked, written to disk before being executed. AFAIU, selinux prevents gnmic from making the mapped file executable (execmod 0).

A few possible workarounds:

1 - Unpack the binary using upx:  download [upx](https://github.com/upx/upx/releases/tag/v3.96) and run `upx -d ./gnmic`
2 - Allow execmod (@Hobbydos solution

[2022-06-26 22:33] ksator opened #622 "gnmi history extension"
Hello
I would like to use gnmic with these 2 diff use cases
https://github.com/openconfig/reference/blob/master/rpc/gnmi/gnmi-history.md#1-purpose
- retrieve data at a specific time in the past
- request all updates applied to a data tree between two specified times.

but I dont see the gnmic options for these 2 diff use cases
Is it already supported?
Many thanks in advance for your help!

[2022-06-26 22:36] ksator commented on #622
The gnmi client published on the GH org aristanetworks supports 3 flags for these 2 options
https://github.com/aristanetworks/goarista/blob/master/gnmi/client/client.go#L81-L89

[2022-06-27 02:08] nleiva commented on #563
Yep, now that I clicked the right button it seems to fix the problem. Thank you!

[2022-06-29 06:31] ksator commented on #622
Thank you @karimra !

[2022-06-29 07:17] karimra commented on #622
welcome, please try v0.26.0 and let me know how it goes.

[2022-06-29 07:18] karimra commented on #599
@dlonghi  v0.26.0 should work properly now

[2022-06-29 11:39] dlonghi commented on #599
Thank you guys.

Moving my devbox to "Rocky Linux 9" as soon it is released.

[2022-06-29 11:39] #599 closed

[2022-07-07 08:42] Vasilich opened #630 "Windows release?"
I am struggling to find a tool that works via gnmi protocol for windows.
I have seen commit #194 that has removed windows compilations from release. Is there any chance to get it back in release? or chance for me to compile it somehow locally? i have no experience with Go language at all.

Thanks in advance

[2022-07-07 17:19] karimra commented on #630
To use gnmic on Windows you have a 2 options:
1)  Install WSL2 on your windows machine and use gnmic for linux
2) Build gnmic from source:
    - Install golang18.x
    - Clone there repo: `git clone https://github.com/karimra/gnmic && cd gnmic`
    - If building on windows:
       - `go build` (a new executable `gnmic.exe` will be created in your $PWD)
     - If cross compiling on (linux/darwin) f

[2022-07-08 14:20] Vasilich commented on #630
Thanks for the answer.
I still use WSL1, and gnmic works also there. WSL2 doesn't work with complex IT infrastructure without DHCP servers.
But it is easier for me to use version compiled for windows, and building it with your instruction was also pretty easy.

[2022-07-08 14:20] #630 closed

[2022-07-14 13:15] Sparc0 opened #632 "string mappings processor"
I would like a way to map string values to int values so that i can use them in prometheus.

I expect maybe that the config would look something similar to this

[code]

And the result will be like this
[code]

[code]

[2022-07-14 20:17] karimra commented on #632
it's possible to achieve what you need using `event-strings` processor with transfom `replace`: https://gnmic.kmrd.dev/user_guide/event_processors/event_strings/

The equivalent config to your suggestion would be:

[code]

Note that you can use regular expressions to match values and tags as well as do regular expression based replaces, i.e the fields `value-names`, `tag-names`, `tags`, `values` a

[2022-07-15 14:43] Sparc0 commented on #632
thanks i must have missed the apply-on: value when i read the docs.

[2022-07-15 14:43] #632 closed

[2022-07-17 13:12] ksator commented on #622
Hello @karimra

These ones are working:
[code]
[code]

[2022-07-17 15:06] #622 closed

[2022-07-19 16:50] karimra commented on #597
@Sparc0 `condition` is implemented for the processor `event-allow`: https://gnmic.kmrd.dev/user_guide/event_processors/event_allow/

Processors apply to updates from a `once` subscription, providing the output is `influxdb`, `prometheus` or the format is `event`

[2022-07-19 17:47] Sparc0 commented on #597
@karimra so docs says condition or one of the regular expressions under tags, tag-names, values or value-names.
so the way i used condition in my example above is not meant to work as i thought then?

[2022-07-19 20:08] karimra commented on #597
Yes, an event message is allowed if the condition is true `OR` any of the regular expressions matches.
`event-allow` is kind of an exception...
`condition` is for more complex cases, while the other fields are for simple regex matching.

You could combine all those regular expressions with the subscription name under `condition`:

[code]

Note that the subscription name is also present as a tag `.

[2022-08-20 14:20] candlerb opened #640 "Confusion from "Error: missing update value/file or path""
[code]

I was confused by an error message from gnmic.

The following works (action is performed, response is returned):

[code]

The following doesn't work:

[code]

Instead this returns "Error: missing update value/file or path". And yet I've provided both a path and a value, and jq confirms the JSON value is valid:

[code]

Looking for this error message in the code, I find it [here](https://gi

[2022-08-20 14:58] candlerb commented on #640
Just to throw one more into the pot, here's a different confusing error message which may not be gnmic's fault, but if it's a server error response it could be displayed more clearly.

This works:

[code]

Now I add something invalid to the end of the path:

[code]

I didn't add a colon though. Looking at tcpdump, some communication does take place, and I can see the path in cleartext.

"Marshalin

[2022-08-20 15:14] hellt commented on #640
Hi
can you try using another formatting option by adding `-f prototext` to see what cisco returns
it seems that whatever it returns in a gnmi message can't be marshalled to json string that is used by default

[2022-08-20 16:31] candlerb commented on #640
Sure (it's `--format` not `-f`).  This is the bad one with `/ipv4` on the path:

[code]

And the good one without:

[code]
Hmm, so the bad one really is bad (a JSON object without `{...}` ?!)

Might be nice to display this as part of the error though.

[2022-08-20 23:22] karimra commented on #640
Hi,

The comma issue in flags `--update-value` and `--replace-value` is a known issue, it ultimately comes from the underlying packages used to parse the flags and set the config values (pflag and viper).

Instead if trying to figure out how different shells and different repeated flags will behave, there are a few other options that can be used to set a more complex value.

If you would like to s

[2022-08-20 23:30] karimra commented on #640
Yes and the error is displayed: `error marshaling message: invalid character ':' after top-level value`

[2022-08-21 07:55] candlerb commented on #640
I got it working with `--update-file`, thanks.

There is [StringArray](https://pkg.go.dev/github.com/spf13/pflag#StringArray):

[code]

[code]

Of course, although it doesn't show the actual value it's complaining about (I didn't know about `--format prototext`)

The confusion for me as a user was from seeing "error marshaling message", when to me the problem is *unmarshaling* the response.  Looki

[2022-08-21 19:22] karimra commented on #640
StringArray is what is used right now because StringSlice did too many things under the hood (e.g reading the flag as a CSV line).

The flags can also be set from ENV or from a config file, viper does not handle string arrays and slices properly (returns them as a string of comma separated values in both cases), hence the usage of `StringArray` and `SanitizeArrayFlagValue` func.

The error does no

[2022-08-25 08:12] ghost opened #641 "don't require username when certificate based authentication is used"
Some servers can extract usernames from certificates. This may be as simple as extracting the common name but here is also the [SPIFFE-ID ](https://spiffe.io/docs/latest/spiffe-about/spiffe-concepts/) which was made specifically for this purpose.

Enforcing that the user provides a username through metadata when using certificate based authentication leaves it up to the server to decide which one

[2022-08-25 22:39] karimra commented on #641
Agree, it makes sense to not require a username/password when running a command.

[2022-09-05 13:40] TobiasSackmannDacoso opened #643 "gzip error during installation"
Hi,

If if run `bash -c "$(curl -sL https://get-gnmic.kmrd.dev)" `on a fresh WSL(Ubuntu 22.04) I receive the following error.

`Downloading https://github.com/karimra/gnmic/releases/download/v0.26.0/gnmic_0.26.0_linux_x86_64.tar.gz
/usr/bin/gzip: 1: ELF: not found
/usr/bin/gzip: 3: : not found
/usr/bin/gzip: 4: Syntax error: "(" unexpected
tar: Child returned status 2
tar: Error is not rec

[2022-09-16 08:50] shivamganwani opened #644 "Does GNMIC support multiple sessions to Server within the same connection ??"
Hi,
I am testing this telemetry app with GNMIC and I am able to do the subscribe and capabilities request. I am getting the expected output but here I am only creating one gnmi session.
Is there a way to make multiple sessions within the same connection. Can I add something to the config file of GNMIC to support multiple sessions.

Currently my config file looks like :
**insecure : false
log : tru

[2022-09-20 12:43] Sparc0 opened #645 "Is it possible to load multiple configuration files?"
I wonder if it's possible to load multiple configuration files e.g i want to keep interface processors and bgp processors in a separate files?

[2022-09-20 15:29] Sparc0 opened #646 "strings-as-labels does not work for prometheus remote-write"
It seems that the strings-as-labels config variable is not working on the prometheus-remote-write output.
It works for the prometheus scrape based output.

Paths i subscribed on to make sure i get one with a string value and one with a int value.
[code]

**stdout**
[code]
**prometheus scrape based output**
[code]

**prometheus remote write debug log**
[code]

**Telegraf debug log**
[code]

[2022-09-20 16:50] Sparc0 commented on #646
#647
pull request verified working in my env.

[code]

**Telegraf debug log**
[code]

[2022-09-20 17:19] karimra commented on #645
I'm afraid that is not supported

[2022-09-21 03:28] karimra commented on #644
Hi,

Can you describe a bit more what kind of sessions you are trying to create (which RPC)?
I see that your config file has tunnel-server config, are you trying to use gNMIc as a tunnel server?

[2022-09-21 03:30] karimra commented on #643
https://askubuntu.com/questions/1417255/trying-to-unzip-a-tgz-in-wsl-but-get-elf-not-found-error

[2022-09-21 07:08] shivamganwani commented on #644
Hi,

Yes I am using gNMIc as a tunnel server. Ok I'll explain you a bit about tunnelclient on the other side. So whenever a connection is made tunnelclient accepts a tag-id from gNMIc and creates a new single session. I want to send multiple tag-id's to tunnelclient in parallel so that multiple GNMI sessions are created at once.

[2022-09-21 07:29] karimra commented on #644
To create a session you have to trigger an RPC, can you share which RPCs you want to send to the server on the other side of the tunnel?

[2022-09-21 12:12] mankhakb commented on #644
Hi,

Here gNMIC we are using as a tunnel server.
On the other side we are running tunnel client.
https://github.com/openconfig/grpctunnel/blob/master/proto/tunnel/tunnel.proto
Using tunnel rpc, tunnel server and tunnel client will exchange streaming data(gnmi request and response).
This streaming data can be subscribe, capability, set or get request/response.
Tunnel server(gNMIC) will send the req

[2022-09-21 14:00] shivamganwani commented on #644
Hi @karimra,

Did the above comment answer your query ?

[2022-09-21 15:38] karimra commented on #644
I understand that, that is basically the spec of grpc tunnel.
Yes gnmic support multiple sessions.

What I'm asking is which rpc you want to trigger (streaming, unary) and how (are you running gnmic as a cli? as a daemon)?
In both cases, how do expect to trigger multiple RPCs?

The way to create multiple sessions depends on the type of RPC and how gnmic is ran.

[2022-09-21 19:53] karimra commented on #644
have a look here: https://gnmic.kmrd.dev/user_guide/tunnel_server/#combining-tunnel-server-with-a-gnmi-server

[2022-09-21 20:35] shivamganwani commented on #644
Ok thanks for the link, I am going thru it.
Just giving some info:
We already have a fully implemented gnmi server with subscribe, capabilities RPCs, etc.
I have already tested by sending a subscribe and capability request to our gnmi server and things are working perfectly.

Just to be sure, in this link -> "Combining Tunnel server with a gNMI server" -
Will this help if we are using our own gnmi

[2022-09-21 20:51] karimra commented on #644
Your gNMI server is separate.
The links shows how to use gNMIc as both a Tunnel Server and a gNMI server. This allows you to interact with gNMIc with another client, gNMIc will "proxy" the requests received on its gNMI Server through the gRPC tunnel to your gNMI server.
Hopefully this diagram helps:
![image](https://user-images.githubusercontent.com/12892894/191607737-c377bf49-1acf-44ce-a6d8-b8f00

[2022-09-21 20:51] #645 closed

[2022-09-22 11:54] shivamganwani commented on #644
Hi @karimra

I am not sure if the link you posted is related to my requirement but I might be wrong. Anyways I have tried to explain the entire architecture and attached ss of issue, please have a look once. Sorry for making it so long :p

I am running a streaming RPC (which is subscribe).
gNMIc runs as a tunnel server (you already know about that) as a DAEMON. I mean I run the binary and give it

[2022-09-22 21:17] karimra commented on #644
It's not possible for 2 processes to listen the same IP/port on the same host, you will have to change either the IP address or the port for one of the gNMIc instances you are starting. In which case, your client should be configured to establish 2 tunnels.

The session I'm talking about is the one established by the tunnel server (gNMIc) to the tunnel client aimed at a specific target (ID, Type)

[2022-09-27 06:49] shivamganwani commented on #644
Ok I agree that in the diagram the direction of session arrow is inverted. But that's not the main point I was trying to discuss.

![image](https://user-images.githubusercontent.com/31753886/192453325-00ec7cc4-3e77-4240-88a6-9f066e8d47c6.png)

I think if I ask you this question things will get clearer :
So you said that there is no point of making multiple gRPC session with same target.  Ok I agre

[2022-09-27 06:56] shivamganwani commented on #644
A question related to code of GNMIC :

Reading the code I was expecting that you will be creating a session using the function TunnelSession() [ Line 95 in api/tunnel.go ].
But none of the logs I printed in this function are getting printed when I make a connection with target. Can you explain why is that ? You must be creating a session right ?

[2022-09-27 22:00] karimra commented on #644
A target is identified with both its ID and Type, that why I always write (ID,Type). So in the case of a gRPC and netconf sessions, there should be 2 targets registered; (ID, GNMI_GNOI) and (ID, SSH)

[2022-09-27 22:02] karimra commented on #644
That part of the code is used to craft the messages, you can use that to write your own tunnel server. I don't use it to write gNMIc's tunnel server. I use https://github.com/openconfig/grpctunnel

[2022-09-28 12:14] shivamganwani commented on #644
I see logs on the terminal where I run gnmic, Is there any other log file also ? Or can I get additional logs from somewhere.
Also in yaml whats the use of debug option, I was expecting, making that true, will give more logs.

[2022-10-11 19:53] #608 closed

[2022-10-12 18:21] LoboDCOK opened #649 "[gnmic] [core] [Server #1] grpc: Server.Serve failed to create ServerTransport: connection error: desc = "transport: http2Server.HandleStreams received bogus greeting from client: \"\\x00\\x01\\x00\\x01\\x00\\x01\\x00\\x00\\x00\\x00\\x03&\\n\\x103BBARCE_US\"""
Hi.

i am trying to configure gnmic as listen to work with a cisco asr.

this is the command i use

**gnmic --address 0.0.0.0:32767 --insecure --log-file /var/log/gnmic/gnmic-PE-CISCO.log --format event --encoding event --no-prefix --debug listen**

and this is the resulting log

**2022/10/12 15:03:55.130866 /home/runner/work/gnmic/gnmic/app/app.go:211: [gnmic] version=0.26.0, commit=ba387ba, date

[2022-10-12 20:40] karimra commented on #649
The listen command is intended to be used with Nokia SROS dial-out only.
gNMIc does not support any other vendor proprietary dialout service. but it does support openconfig dial-out based on grpc-tunnel